{% extends "columns_1.html" %}

{% load static pipeline %}

{% block extra-scripts %}
    <script type="text/javascript" src="{% static 'frontend/js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?151"></script>
    <script type="text/javascript">
        VK.init({apiId: 6330274, onlyWidgets: true});
    </script>
{% endblock extra-scripts %}

{% block view_element %}
    <div class="lucky">
        <h1>Испытай удачу - случайный Steam ключ</h1>
        <div class="lucky-boxs clear-block">
            <div class="lucky-box">
                <div class="lucky-icon"></div>
                <div class="lucky-info">
                    <h2>Обычный ключ</h2>
                    <div class="price-lucky">35 <span>₽</span></div>
                    Шанс на призовую игру 1%<br />
                    Минимальная цена 69 руб.<br />
                    Максимальная цена 999 руб.<br />
                    За одну покупку 1 игра<br />
                    Бонус при дубле нет<br />
                    Бонус при низкой цене да<br />
                </div>
                <div class="lucky-buy">
                    <a href="{% url 'games:order' 'alien-isolation' %}">Купить ключ</a>
                </div>
            </div>
            <div class="lucky-box">
                <div class="lucky-icon"></div>
                <div class="lucky-info">
                    <h2>Крутой ключ</h2>
                    <div class="price-lucky">99 <span>₽</span></div>
                    Шанс на призовую игру 15%<br />
                    Минимальная цена 249 руб.<br />
                    Максимальная цена 1499 руб.<br />
                    За одну покупку 1 игра<br />
                    Бонус при дубле да<br />
                    Бонус при низкой цене да<br />
                </div>
                <div class="lucky-buy">
                    <a href="#">Купить ключ</a>
                </div>
            </div>
            <div class="lucky-box">
                <div class="lucky-icon"></div>
                <div class="lucky-info">
                    <h2>Супер ключ</h2>
                    <div class="price-lucky">199 <span>₽</span></div>
                    Шанс на призовую игру 55%<br />
                    Минимальная цена 349 руб.<br />
                    Максимальная цена 1999 руб.<br />
                    За одну покупку 1-2 игра<br />
                    Бонус при дубле да<br />
                    Бонус при низкой цене да<br />
                </div>
                <div class="lucky-buy">
                    <a href="#">Купить ключ</a>
                </div>
            </div>
        </div>
    </div>
{% endblock view_element %}

{% block block_comments %}
<div class="comments">
    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 20, attach: "photo"});
    </script>
</div>
{% endblock %}