{% extends "columns_2.html" %}

{% load static pipeline %}
{% load thumbnail %}

{% block title %}Купить {{ game.title }} на PC для {{ game.get_store_activation_display }}{% endblock title %}

{% block keywords %}Купить {{ game.title }}, ключ {{ game.title }}, на pc, купить со скидкой{% endblock keywords %}

{% block description %}Купить лицензионный ключ {{ game.title }} на PC. Активация в {{ game.get_store_activation_display }}. Моментальная доставка. Игра продается со скидкой по самой низкой цене в интернете.{% endblock description %}

{% block ogtitle %}Купить {{ game.title }} на PC для {{ game.get_store_activation_display }}{% endblock ogtitle %}

{% block ogdescription %}Купить лицензионный ключ {{ game.title }} на PC. Активация в {{ game.get_store_activation_display }}. Моментальная доставка. Игра продается со скидкой по самой низкой цене в интернете.{% endblock ogdescription %}

{% block ogimg %}{{ game.image.url }}{% endblock ogimg %}


{% block extra-scripts %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?151"></script>
    <script type="text/javascript">
        VK.init({apiId: 6330274, onlyWidgets: true});
    </script>
{% endblock extra-scripts %}

{% block view_element %}
    <div class="game_page">
        <h1>Купить {{ game.title }} на PC</h1>
        <div class="game_head">
            <div class="game_img">
                {% thumbnail game.image "460x215" quality=100 as main_image %}
                <img src="{{ main_image.url }}">
            </div>
            <div class="game_info">
                <div class="game_detail_info">
                    <div>
                        <span>Жанр:</span>
                        <span>
                            {% for genre in game.genre.all%}
                                <a href="{% url 'games:list' %}?genre={{ genre.id }}">{{ genre.title }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                    <div>
                        <span>Язык:</span>
                        <span>{{ game.get_language_display }}</span>
                    </div>
                    <div>
                        <span>Активация:</span>
                        <span>
                            <a class="method-activation" href="{% url 'games:store_list' game.get_store_activation_display %}">{{ game.get_method_activation_display }}</a>
                        </span>
                    </div>
                    <div>
                        <span>Дата выхода:</span>
                        <span>{{ game.date_release|date:"SHORT_DATE_FORMAT" }}</span>
                    </div>
                    <div>
                        <span>Издатель:</span>
                        <span>{{ game.publisher }}</span>
                    </div>
                </div>
                <div class="status">
                    <div class="percent">
                        <percent>Скидка <span>-{{ game.percent }}%</span></percent>
                    </div>
                    <div class="buy">
                        <div class="coast">
                            <price>{{ game.my_coast }}<span> руб.</span></price>
                        </div>
                        {% if game.in_stock %}
                            <a class="buy_button" href="{% url 'games:order' game.slug %}">
                                <span>Купить игру</span>
                            </a>
                        {% elif game.is_soon %}
                            <div class="soon">
                                <span>Скоро!</span>
                            </div>
                        {% else %}
                            <div class="nonal">
                                <span>Закончился!</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="game_description">
            <div class="game_description_tabs">
                <ul class="tab_menu">
                    <li class="active">Описание</li>
                    <li>Системные требования</li>
                    <li>Активация</li>
                </ul>
            </div>
            <div class="game_description_columns">
                <div class="game_description_left">
                    <div class="tabs">
                        <div class="tab_content active">
                            <div class="description_block">
                                <h2>Описание игры</h2>
                                <div class="description_content">
                                    {{ game.description|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="tab_content">
                            <div class="description_block">
                                <h2>Описание игры</h2>
                                <div class="description_content">
                                    ОС {{ game.os }}
                                    CP {{ game.processor }}
                                    ОЗ {{ game.ozu }}
                                    HD {{ game.hdd }}
                                    Vi {{ game.video_card }}
                                </div>
                            </div>
                        </div>
                        <div class="tab_content">
                            
                            <div class="description_block">
                                <h2>Описание игры</h2>
                                <div class="description_content">
                                    123
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game_description_right">
                    <div class="media_block">

                        {% for screenshot in game.screenshots.all %}
                            {% if forloop.first and game.id_video %}
                                <div class="media_element">
                                    {% thumbnail screenshot.image "297x167" as im %}
                                    <img src="{{ im.url }}">
                                    <div class="video_sticker">трейлер</div>
                                    <a data-fancybox="video" class="play" data-width="830" data-height="470" href="https://www.youtube.com/watch?v={{ game.id_video }};autoplay=1&amp;rel=0&amp;controls=1&amp;showinfo=0"></a>
                                </div>
                            {% else %}
                                <div class="media_element">
                                    {% thumbnail screenshot.image "297x167" as im %}
                                    <img src="{{ im.url }}">
                                    <a data-fancybox="gallery" data-width="830" href="{{ screenshot.image.url }}"></a>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="comments">
                <div id="vk_comments"></div>
                <script type="text/javascript">
                    VK.Widgets.Comments("vk_comments", {limit: 20, attach: "photo"});
                </script>
            </div>
        </div>
    </div>
{% endblock %}