{% load thumbnail %}

<div class="white_block">
    <h3>Лучшая цена</h3>
    {% for special_game in special_block_1 %}
        <div class="special-box">

            <div class="sale-per-foto clear-block">
                <div class="sale-per">-{{ special_game.percent }}%</div>
                {% thumbnail special_game.image "110x51" crop="center" as im %}
                <a class="sale-foto" href="{% url 'games:detail' special_game.slug %}">
                    <img src="{{ im.url }}" width="{{ im.width }}" alt="">
                </a>
            </div>
            <div class="sale-title">
                <a href="{% url 'games:detail' special_game.slug %}">Успей купить {{ special_game.title }} по специальной цене со скидкой {{ special_game.percent }}%</a>
            </div>
            

        </div>
    {% endfor %}
</div>