{% load thumbnail %}

<div class="gray_block">
    <h3>Акции / Скидки</h3>
    {% for special_game in special_block_1 %}
        <div class="special-box">
            {% thumbnail special_game.image "200x93" crop="center" as im %}
            <a href="{% url 'games:detail' special_game.slug %}">
                <img src="{{ im.url }}" width="{{ im.width }}" alt="">
            </a>
            <div class="sale-name">{{ special_game.title }}</div>
            <div class="sale-percent-price clear-block">
                <span>-{{ special_game.percent }}%</span>
                <span>{{ special_game.my_coast }} р.</span>
            </div>
        </div>
    {% endfor %}
</div>