{% extends "columns_2.html" %}

{% load static pipeline %}
{% load thumbnail %}

{% block title %}{{ game.seo_title }}{% endblock title %}

{% block keywords %}{{ game.seo_keywords }}{% endblock keywords %}

{% block description %}{{ game.seo_description }}{% endblock description %}

{% block extra-styles %}<link rel="stylesheet" href="{% static 'frontend/style/jquery.fancybox.css' %}" />{% endblock extra-styles %}

{% block extra-scripts %}{% endblock extra-scripts %}

{% block view_element %}
    <div class="game-object">
        <h1>Оформление заказа</h1>
        <div class="game-order-head clear-block">
            <div class="game-order-image">
                <img src="{{ game.image.url }}">
            </div>
            <div class="game-order-info">
                <div class="game-order-title">
                    {{ game.title }}
                    <span>Товар в наличии</span>
                </div>
            </div>
        </div>
        <div class="game-order">
            {% if form.payment.errors %}
                <span class="error">Вы не выбрали способ оплаты</span>
            {% endif %}
            {% if form.mail.errors %}
                <span class="error">Вы не заполнили поле E-mail</span>
            {% endif %}
            <form class="order-form" action="" method="POST">{% csrf_token %}
                <div class="text-content order-text">
                    <h2>Важная информация</h2>
                    Покупая в нашем магазине товар вы автоматически соглашаетесь с <a href="#">Договором оферты</a>. Данный товар работает и может быть активирован в следующих странах: Россия, Украина, Беларусь, Казахстан, Армения, Азербайджан, Грузия, Киргизстан, Республика Молдова, Таджикистан, Туркменистан, Узбекистан. В описании под товаром могут быть внесены дополнительные региональные ограничения либо разрешения.
                </div>
                <div class="text-content select-payment">
                    <h2>Выберите способ оплаты</h2>
                    <div class="pay-blocks clear-block">
                        <div class="pay-block">
                            <input checked="" class="radio_button" type="radio" name="payment" id="payment1" value="WMR">
                            <label class="label_button" for="payment1">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/webmoney.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Webmoney (RUB)</div>
                                        <div class="pay-percent">Коммиссия 0,8%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment2" value="WMZ">
                            <label class="label_button" for="payment2">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/webmoney.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Webmoney (USD)</div>
                                        <div class="pay-percent">Коммиссия 0,8%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment3" value="WME">
                            <label class="label_button" for="payment3">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/webmoney.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Webmoney (EUR)</div>
                                        <div class="pay-percent">Коммиссия 0,8%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment4" value="PCR">
                            <label class="label_button" for="payment4">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/yandex.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Яндекс.Деньги</div>
                                        <div class="pay-percent">Коммиссия 6%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment5" value="QSR">
                            <label class="label_button" for="payment5">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/qiwi.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Qiwi</div>
                                        <div class="pay-percent">Коммиссия 5.5%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment6" value="RCC">
                            <label class="label_button" for="payment6">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/visa.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Viza / MasterCard</div>
                                        <div class="pay-percent">Коммиссия 1.9%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment7" value="BLN">
                            <label class="label_button" for="payment7">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/beeline.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Билайн</div>
                                        <div class="pay-percent">Коммиссия 8.6%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment8" value="MGY">
                            <label class="label_button" for="payment8">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/megafon.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Мегафон</div>
                                        <div class="pay-percent">Коммиссия 15.5%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment9" value="MTS">
                            <label class="label_button" for="payment9">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/mts.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">МТС</div>
                                        <div class="pay-percent">Коммиссия 11.6%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment10" value="SBR">
                            <label class="label_button" for="payment10">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/sberbank.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Сбербанк Онлайн</div>
                                        <div class="pay-percent">Коммиссия 2.5%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment11" value="TLY">
                            <label class="label_button" for="payment11">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/tele2.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Теле2</div>
                                        <div class="pay-percent">Коммиссия 16%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="pay-block">
                            <input class="radio_button" type="radio" name="payment" id="payment12" value="PRR">
                            <label class="label_button" for="payment12">
                                <div class="pay-box clear-block">
                                    <div class="pay-icon">
                                        <img width="50" src="{% static 'frontend/images/pochta.png' %}">
                                    </div>
                                    <div class="pay-info">
                                        <div class="pay-name">Почта России</div>
                                        <div class="pay-percent">Коммиссия 8%</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="order-mail-box">
                    <div class="order-mail-form clear-block">
                        <div class="order-mail-mail">
                            <input name="mail" class="place" type="text" placeholder="Укажите Ваш E-mail">
                        </div>
                        <div class="order-mail-submit">
                            <input type="submit" value="Перейти к оплате">
                        </div>
                    </div>
                    <div class="order-mail-text">
                        После оплаты, товар будет доступен в <a href="#">личном кабинете</a>.
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
