
{% load thumbnail %}

{% for special_game in special_block_1 %}
    <div class="block special-game">
        <div class="special-game-foto">
            {% thumbnail special_game.image_banner "220x280" crop="center" as im %}
            <img src="{{ im.url }}" width="100%" alt="">
        </div>
        <div class="special-game-info">
           {{ special_game.my_coast }} руб. <span>-{{ special_game.percent }}%</span>
        </div>
        <a href="{% url 'games:detail' special_game.slug %}"></a>
    </div>
{% endfor %}