
{% load thumbnail %}







<div class="special-games">
    <h2>За копейки</h2>
    <div class="special-content clear-block">
        {% for special_game in special_block %}
        <div class="special-game">
            <div class="special-game-foto">
                {% thumbnail special_game.image "250x116" crop="center" as im %}
                <img src="{{ im.url }}" width="100%" alt="">
            </div>
            <div class="special-game-info">
                <div class="title">{{ special_game.title }}</div>
                <div class="price">{{ special_game.my_coast }} руб.</div>
            </div>
            <div class="skidka">-{{ special_game.percent }}%</div>
            <a class="link" href="{% url 'games:detail' special_game.slug %}"></a>
        </div>
        {% endfor %}
    </div>
</div>