{% extends "columns_1.html" %}

{% load static pipeline %}

{% block extra-scripts %}
    <script type="text/javascript" src="{% static 'frontend/js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?151"></script>
    <script type="text/javascript">
        VK.init({apiId: 6330274, onlyWidgets: true});
    </script>
{% endblock extra-scripts %}

{% block view_element %}
    <div class="lucky">
        <h1>Испытай удачу - случайный Steam ключ</h1>
        <div class="lucky-boxs clear-block">
            <div class="lucky-box">
                <div class="lucky-icon"></div>
                <div class="lucky-info">
                    <h2>Обычный ключ</h2>
                    <div class="price-lucky">
                        35 <span>₽</span>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Шанс на призовую игру</div>
                        <div class="lucky-value">5%</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Минимальная цена</div>
                        <div class="lucky-value">69 р.</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Максимальная цена</div>
                        <div class="lucky-value">999 р.</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">За одну покупку</div>
                        <div class="lucky-value">1 игра</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Бонус при дубле</div>
                        <div class="lucky-value">нет</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Бонус при низкой цене</div>
                        <div class="lucky-value">да</div>
                    </div>
                </div>
                <div class="lucky-buy">
                    <a href="{% url 'games:order' 'alien-isolation' %}">Купить ключ</a>
                </div>
            </div>
            <div class="lucky-box">
                <div class="lucky-icon"></div>
                <div class="lucky-info">
                    <h2>Крутой ключ</h2>
                    <div class="price-lucky">
                        99 <span>₽</span>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Шанс на призовую игру</div>
                        <div class="lucky-value">15%</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Минимальная цена</div>
                        <div class="lucky-value">249 р.</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Максимальная цена</div>
                        <div class="lucky-value">1499 р.</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">За одну покупку</div>
                        <div class="lucky-value">1 игра</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Бонус при дубле</div>
                        <div class="lucky-value">да</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Бонус при низкой цене</div>
                        <div class="lucky-value">да</div>
                    </div>
                </div>
                <div class="lucky-buy">
                    <a href="{% url 'games:order' 'alien-isolation' %}">Купить ключ</a>
                </div>
            </div>
            <div class="lucky-box">
                <div class="lucky-icon"></div>
                <div class="lucky-info">
                    <h2>Супер ключ</h2>
                    <div class="price-lucky">
                        199 <span>₽</span>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Шанс на призовую игру</div>
                        <div class="lucky-value">55%</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Минимальная цена</div>
                        <div class="lucky-value">349 р.</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Максимальная цена</div>
                        <div class="lucky-value">1999 р.</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">За одну покупку</div>
                        <div class="lucky-value">1-2 игры</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Бонус при дубле</div>
                        <div class="lucky-value">да</div>
                    </div>
                    <div class="lucky-texts clear-block">
                        <div class="lucky-text">Бонус при низкой цене</div>
                        <div class="lucky-value">да</div>
                    </div>
                </div>
                <div class="lucky-buy">
                    <a href="{% url 'games:order' 'alien-isolation' %}">Купить ключ</a>
                </div>
            </div>
        </div>
    </div>
{% endblock view_element %}

{% block block_comments %}
<div class="comments">
    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 20, attach: "photo"});
    </script>
</div>
{% endblock %}