{% extends "columns_3.html" %}
{% load thumbnail common_tags %}

{% block title %}{{ page_title }}{% endblock title %}

{% block keywords %}Ключи, {{ section }}{% endblock keywords %}

{% block description %}Описание {{ section }}{% endblock description %}


{% block left_column %}
    <div class="test">
        <form action="" method="GET">
            <input type="number" name="price_min" value="0" id="id_price_min">
            <input type="number" name="price_max" value="1599" id="id_price_max">
            {{ filter_form.genre }}
            {{ filter_form.store_activation }}
            <button type="submit">Найти</button>
        </form>

        {{ prices.price_min }}
        {{ prices.price_max }}
    </div>
{% endblock left_column %}


{% block center_column %}
    {% if game_list %}
        <h1 class="list_title">{{ page_title }}</h1>
        <div class="game-list">
            {% for games in object_list %}
                <div class="game">
                    <div class="game-img">
                        {% thumbnail games.image "250x117" as im %}
                        <img src="{{ im.url }}" width="100%">
                    </div>
                    <div class="game-info">
                        
                        <div class="game-info-title">
                            <div class="game-name">{{ games.title }}</div>
                            <div class="game-key">{{ games.get_store_activation_display }} | 
                            {% for genre in games.genre.all %}
                                {{ genre.title }}{% if not forloop.last %}, {% endif %} 
                            {% endfor %}
                            </div>
                        </div>
                        <div class="game-info-coast">
                            <div class="game-info-price">{{ games.my_coast }} <span>руб.</span></div>
                        </div>
                    </div>
                    <a href="{% url 'games:detail' games.slug %}" class="game-link"></a>
                </div>
            {% endfor %}
        </div>
        {% else %}
            {% if is_alphabet %}
                На такую букву игр не нашлось
            {% else %}
                В разделе {{ section }} нет ни одной игры. Приходите позже, они обязательно появятся
            {% endif %}
        {% endif %}
        {% if is_paginated %}
            {% paginator 2 %}
        {% endif %}
{% endblock %}
