{% load static pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}STEAMCOOL. Интернет-магазин лицензионных ключей для игр на PC{% endblock title %}</title>
    <meta name="keywords" content="{% block keywords %}магазин ключей, ключи steam, ключи origin, ключи uplay, со скидкой, купить ключ {% endblock keywords %}" />
    <meta name="description" content="{% block description %}Магазин лицензионных steam, origin, uplay ключей по низким ценам.{% endblock description %}" />

    
    <meta property="og:title" content="{% block ogtitle %}STEAMCOOL. Интернет-магазин лицензионных ключей для игр на PC{% endblock ogtitle %}" />
    <meta property="og:description" content="{% block ogdescription %}Интерент-магазин лицензионных ключей steam, origin, uplay по низким ценам.{% endblock ogdescription %}" />
    <meta property="og:image" content="{% block ogimg %}{% static 'frontend/images/logo-350.png' %}{% endblock ogimg %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'frontend/style/css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/style/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/style/fancybox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/style/swiper.css' %}">

    {% block extra-styles %}{% endblock extra-styles %}

    {% block extra-scripts %}{% endblock extra-scripts %}
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script> (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5176307659670301",
    enable_page_level_ads: true
    });
    </script>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    
</head>
<body>

<div class="head">
    <div class="logo">
        <a href="/">
            <img src="{% static 'frontend/images/logo-big.png' %}" width="100%">
        </a>
    </div>
    <div class="search clear-block">
        <form action="">
            <div class="search-submit">
                <input type="submit" value="Найти">
            </div>
            <div class="search-text">
                <input class="place" id="game-search" type="text" placeholder="Введите название игры ...">
            </div>
        </form>
    </div>
    <div class="book">
        {% for symbol in alphabet %}
            <a class="{% if alphabet_symbol == symbol %}active{% endif %}" href="{% url 'games:list' %}?query={{symbol}}">
                {{ symbol|title }}
            </a>
        {% endfor %}
    </div>
</div>


<div class="top-navigation">
    <a class="open-menu" href="#"></a>
    <div class="top-navigation-container">
        <div class="menu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'pages:reviews' %}">Отзывы</a></li>
                <li><a href="{% url 'pages:instruction' %}">Как купить</a></li>
                <li><a href="{% url 'pages:guarantees' %}">Гарантии</a></li>
                <li><a href="{% url 'pages:support' %}">Поддержка</a></li>
                <li><a href="{% url 'pages:payment' %}">Способы оплаты</a></li>
                <li><a href="https://www.oplata.info/info/">Мои покупки</a></li>
                <li>
                    <a class="lucky-button" href="{% url 'games:genre_list' 'ispyitaj-udachu' %}">  Испытай удачу
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="wrapper clear-block">
    {% block slider %}{% endblock slider %}
    {% block content %}{% endblock content %}
</div>
<div class="footer clear-block">
    <div class="footer-col">
        <span>Товары</span>
        <ul>
            {% for store in store_list %}
                <li>
                    <a href="{% url 'games:store_list' store %}">
                        {{ store|title }} ключи
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer-col">
        <span>Наш магазин</span>
        <ul>
            <li><a href="{% url 'pages:reviews' %}">Отзывы</a></li>
            <li><a href="{% url 'pages:payment' %}">Способы оплаты</a></li>
            <li><a href="{% url 'pages:guarantees' %}">Гарантии</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <span>Помощь</span>
        <ul>
            <li><a href="{% url 'pages:support' %}">Поддержка</a></li>
            <li><a href="{% url 'pages:instruction' %}">Как купить</a></li>
            <li><a href="{% url 'pages:activation' %}">Как активировать покупку</a></li>
            <li><a target="_blank" href="https://www.oplata.info/info/">Мои покупки</a></li>
        </ul>
    </div>
    <div class="footer-logo">
        <a href="#"><img src="{% static 'frontend/images/logo-big.png' %}" width="100%"></a>
    </div>
</div>
<div class="footer-copy">
    Все права защищены. Полное или частичное копирование материалов сайта без согласования с администрацией запрещено!
</div>

{% block scripts %}
    {% javascript 'libs' %}
    {% javascript 'frontend' %}
    <script type="text/javascript" src="{% static 'frontend/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/fancybox.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/live-border.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/settings.js' %}"></script>
{% endblock %}



<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter23554624 = new Ya.Metrika({
                    id:23554624,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/23554624" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>






