{% extends "base.html" %}

{% load static pipeline %}

{% block content %}
    <div class="left">
        {% block left_column %}
            {% include "games_genre_list.html" %}
        {% endblock left_column %}
    </div>
    <div class="center">
        {% block lucky_boxs %}{% endblock lucky_boxs %}
        {% block center_column %}{% endblock center_column %}
    </div>
    <div class="right">
        {% block right_column %}
            {% include "games_last_pay.html" %}
            <!--{% include "games_soon_block.html" %}-->
        {% endblock right_column %}
    </div>
{% endblock content %}
