{% extends "columns_3.html" %}

{% load static pipeline %}
{% load thumbnail %}

{% block extra-scripts %}{% endblock extra-scripts %}

{% block slider %}
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for slide in slides %}
            <div class="swiper-slide">
                <div class="slide">
                    <div class="slide-foto">
                        <a href="{% url 'games:detail' slide.slug %}">
                            <img src="{{ slide.image_slide.url }}" width="100%">
                        </a>
                    </div>
                    <div class="slide-info">
                        <div class="slide-title">{{ slide.title }}</div>
                        <div class="slide-text">
                            {{ slide.slide_text }}
                        </div>
                        <div class="slide-price">
                            

                            {% if slide.is_soon %}
                                Скоро!
                            {% else %}
                                <div class="slide-coast">{{ slide.my_coast }} <span>руб.</span></div>
                                <div class="slide-percent">-50<span>%</span></div>    
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
{% endblock slider %}


{% block lucky_boxs %}
    <div class="key-boxs">
        <div class="key-box">
            <div class="key-box-text">
                Испытай удачу
                <div class="key-box-coast">39 <span>руб.</span></div>
            </div>
            <div class="key-box-button">
                <a href="{% url 'games:detail' 'ispyitaj-udachu-39-rub' %}">Купить</a>
            </div>
        </div>
        <div class="key-box">
            <div class="key-box-text">
                Испытай удачу
                <div class="key-box-coast">99 <span>руб.</span></div>
            </div>
            <div class="key-box-button">
                <a href="{% url 'games:detail' 'ispyitaj-udachu-99-rub' %}">Купить</a>
            </div>
        </div>
        <div class="key-box">
            <div class="key-box-text">
                Испытай удачу
                <div class="key-box-coast">299 <span>руб.</span></div>
            </div>
            <div class="key-box-button">
                <a href="{% url 'games:detail' 'ispyitaj-udachu-299-rub' %}">Купить</a>
            </div>
        </div>
    </div>
{% endblock lucky_boxs %}

{% block center_column %}
    <div class="game-list-head">
        <h2>Новинки / Популярное</h2>
    </div>








    <div class="game-list">
        {% for game in games_on_main_page %}
            <div class="game">
                <div class="game-img">
                    {% thumbnail game.image "250x117" as im %}
                    <img src="{{ im.url }}" width="100%">
                </div>
                <div class="game-info">
                    
                    <div class="game-info-title">
                        <div class="game-name">{{ game.title }}</div>
                        <div class="game-key">
                            {{ game.get_store_activation_display }} |  
                            {% for genre in game.genre.all %}
                                {{ genre.title }}{% if not forloop.last %}, {% endif %} 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="game-info-coast">
                        <div class="game-info-price">{{ game.my_coast }} <span>руб.</span></div>
                    </div>
                </div>
                <a href="{% url 'games:detail' game.slug %}" class="game-link"></a>
            </div>
        {% endfor %}
    </div>


















    
    <div class="magaz-info">
        Ищите, где купить дешевые лицензионные ключи steam для PC? Интернет-магазин компьютерных игр Steam-account.ru с радостью поможет Вам купить ключ для стим и избежать необходимости посещать десятки магазинов. Вы можете заказать любой ключ, не вставая со своего кресла, и он, в течение минуты, будет доставлен на указанный при покупке e-mail.
        Ищите, где купить дешевые лицензионные ключи steam для PC? Интернет-магазин компьютерных игр Steam-account.ru с радостью поможет Вам купить ключ для стим и избежать необходимости посещать десятки магазинов. Вы можете заказать любой ключ, не вставая со своего кресла, и он, в течение минуты, будет доставлен на указанный при покупке e-mail.
    </div>
    
{% endblock center_column %}
