{% extends "columns_3.html" %}

{% load static pipeline %}
{% load thumbnail %}

{% block extra-scripts %}{% endblock extra-scripts %}

{% block center_column %}
    <div class="slide-container">
        <div class="swiper-wrapper">
            {% for slide in slides %}
            <div class="swiper-slide">
                <div class="slide">
                    <div class="slide_img">
                        <img src="{{ slide.image_slide.url }}">
                        <a href="{% url 'games:detail' slide.slug %}"></a>
                    </div>
                    <div class="slide_info">
                        <div class="slide_name">
                            {{ slide.title }}
                        </div>
                        {% if slide.is_soon %}
                            <div class="slide_soon">Скоро!</div>
                        {% else %}
                            <div class="slide_coast">
                                <div>
                                    999 <span>руб.</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="slide-prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="slide-next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>


<div class="main_page_tabs">
    <div class="tab_item active_tab">Популярное</div>
    <div class="tab_block active">
        <div class="game_list">
            {% for game in games_on_main_page %}
                <div class="game">
                    <a class="link" href="{% url 'games:detail' game.slug %}"></a>
                    <div class="game_img">
                        {% thumbnail game.image "250x117" as im %}
                        <img src="{{ im.url }}">
                    </div>
                    <div class="game_info">
                        <div class="product">
                            <div class="name">{{ game.title}}</div>
                            <div class="store_info">
                                <div class="mini_icon mini_icon_{{ game.get_store_activation_display }}"></div>
                                <div class="genre">
                                    {% for genre in game.genre.all %}
                                        {{ genre.title }}{% if not forloop.last %}, {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="status">
                            {% if game.in_stock %}
                                <div class="coast">
                                    <div class="percent">-33%</div>
                                    <div class="price">
                                        {{ game.my_coast }} <span>руб.</span>
                                    </div>
                                </div>
                            {% elif game.is_soon %}
                                <div class="soon">Скоро!</div>
                            {% else %}
                                <div class="nonal">Закончился!</div>
                            {% endif %}
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>
    <div class="tab_item">Новое на сайте</div>
    <div class="tab_block">
        <div class="game_list">
            {% for game in games_new_on_site %}
                <div class="game">
                    <a class="link" href="{% url 'games:detail' game.slug %}"></a>
                    <div class="game_img">
                        {% thumbnail game.image "250x117" as im %}
                        <img src="{{ im.url }}">
                    </div>
                    <div class="game_info">
                        <div class="product">
                            <div class="name">{{ game.title}}</div>
                            <div class="store_info">
                                <div class="mini_icon mini_icon_{{ game.get_store_activation_display }}"></div>
                                <div class="genre">
                                    {% for genre in game.genre.all %}
                                        {{ genre.title }}{% if not forloop.last %}, {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="status">
                            {% if game.in_stock %}
                                <div class="coast">
                                    <div class="percent">-33%</div>
                                    <div class="price">
                                        {{ game.my_coast }} <span>руб.</span>
                                    </div>
                                </div>
                            {% elif game.is_soon %}
                                <div class="soon">Скоро!</div>
                            {% else %}
                                <div class="nonal">Закончился!</div>
                            {% endif %}
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>
    <div class="tab_item">Скоро</div>
    <div class="tab_block">
        <div class="game_list">
            {% for game in games_soon %}
                <div class="game">
                    <a class="link" href="{% url 'games:detail' game.slug %}"></a>
                    <div class="game_img">
                        {% thumbnail game.image "250x117" as im %}
                        <img src="{{ im.url }}">
                    </div>
                    <div class="game_info">
                        <div class="product">
                            <div class="name">{{ game.title}}</div>
                            <div class="store_info">
                                <div class="mini_icon mini_icon_{{ game.get_store_activation_display }}"></div>
                                <div class="genre">
                                    {% for genre in game.genre.all %}
                                        {{ genre.title }}{% if not forloop.last %}, {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="status">
                            {% if game.in_stock %}
                                <div class="coast">
                                    <div class="percent">-33%</div>
                                    <div class="price">
                                        {{ game.my_coast }} <span>руб.</span>
                                    </div>
                                </div>
                            {% elif game.is_soon %}
                                <div class="soon">Скоро!</div>
                            {% else %}
                                <div class="nonal">Закончился!</div>
                            {% endif %}
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>
</div>
{% endblock center_column %}
