{% extends "columns_3.html" %}

{% load static pipeline %}
{% load thumbnail %}

{% block extra-scripts %}<script type="text/javascript" src="{% static 'frontend/js/slideshow.js' %}"></script>{% endblock extra-scripts %}

{% block center_column %}
    <div class="slshow" id="slideshow">
        <div id="slideshowWindow">
            {% for slide in slides %}
                <div class="slide">
                    <a href="{% url 'games:detail' slide.slug %}"><img src="{{ slide.image_slide.url }}"></a>
                    <div class="slide_info clear-block">
                        <a class="slide_title" href="{% url 'games:detail' slide.slug %}">{{ slide.title }}</a>
                        <div class="slide_price">{{ slide.my_coast }} РУБ.</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab_menu">
        <ul class="tabs tabs_main">
            <li><a href="#tab1" class="active">Популярное</a></li>
            <li><a href="#tab2">Новое на сайте</a></li>
        </ul>

        <div id="tab1" style="display: block;">
            <div class="game_cards">
                
                {% for game in games_favorite %}

                    <div class="game_list_element clear-block">
                        <span class="foto">
                            {% thumbnail game.image "160x75" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        </span>
                        <div class="game_list_element_name">
                            <span class="name">{{ game.title }}</span>
                             <div>{{ game.get_store_activation_display }} ключ</div>
                        </div>
                        <span class="price">{{ game.my_coast }} р.</span>
                        <a href="{% url 'games:detail' game.slug %}"></a>
                    </div>

                    {#<div class="game_card_element">
                        <div class="game_card_foto">
                            {% thumbnail game.image "192x90" as im %}
                            <a href="{% url 'games:detail' game.slug %}">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            </a>
                            <span class="game_card_price">{{ game.my_coast }} руб.</span>
                        </div>
                        <div class="game_card_title">
                            {{ game.title }}
                        </div>
                    </div>#}

                    
                {% endfor %}

            </div>
        </div>
        <div id="tab2" style="display: none;">
            <div class="game_list">
                
                {% for game in games_new_on_site %}
                    <div class="game_list_element clear-block">
                        <span class="foto">
                            {% thumbnail game.image "160x75" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        </span>
                        <div class="game_list_element_name">
                            <span class="name">{{ game.title }}</span>
                             <div>{{ game.get_store_activation_display }} ключ</div>
                        </div>
                        <span class="price">{{ game.my_coast }} р.</span>
                        <a href="{% url 'games:detail' game.slug %}"></a>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div id="tab3" style="display: none;">
        </div>
    </div>
{% endblock center_column %}
