{% with id=widget.attrs.id %}
    <div class="property_content property_list">
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                {% with widget=option %}
                    <div>
                        <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
                        <label for="{{ widget.attrs.id }}"><span>{{ widget.label }}</span></label>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </div>
{% endwith %}
