@font-face{
    font-family: 'ptSans';
    src: url('../fonts/ptSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'ptSans';
    src: url('../fonts/ptSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/robotoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background: url(../images/fon2.jpg) top center no-repeat fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.clear-block:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}
* html .clear-block {
    height: 1%;
}
*:first-child + html .clear-block {
    min-height: 1%;
}
.clear {
    clear:both;
    line-height:0;
    height:0;
    font-size:0;
}
.head{
    width: 1200px;
    height:100px;
    margin: 0 auto;
    background: #FFF;
    position: relative;
}
.logo{
    width: 200px;
    height: 70px;
    position: absolute;
    left: 25px;
    top: 15px;
}
.search{
    width: 590px;
    height: 40px;
    position: absolute;
    left: 275px;
    top: 30px;
}
.search-text{
    height: 40px;
    margin:0 85px 0 0;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}
.search-submit{
    width: 85px;
    height: 40px;
    float: right;
}
.search-text input{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 15px;
    background: #EEE;
    box-shadow: inset 1px 1px 3px 0px #ccc;
    box-sizing: border-box;
}
.search-submit input{
    width: 100%;
    height: 40px;
    display: block;
    background: #4f4f4f;
    border: none;
    color: #FFF;
    cursor: pointer;
    font: normal 14px ptSans;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search-submit input:hover {
    box-shadow: inset 0 0 0 30px #e66700;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.book{
    width: 260px;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 30px;
}
.book a{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    text-align: center;
    font: normal 14px/20px ptSans;
    text-decoration: none;
    color: #333;
    border-radius: 2px;
}
.book a:hover{
    background: #e66700;
    color: #FFF;
}
.wrapper{
    width: 1200px;
    margin: 0 auto; 
}
.block{
    background: url(../images/pix.png) top center repeat;
    margin: 0 0 10px 0;
}
.left{
    float: left;
    width: 250px; 
}
.right{
    float: left;
    width: 250px;
}
.center{
    background: #FFF;
    float: left;
    width: 700px; 
}
.big-center{
    float: left;
    width: 950px;
}
.ganre-menu h3{
    font: normal 20px ptSans;
    color: #666;
    border-bottom: solid 2px #666;
    margin: 0 0 10px 0;
    padding: 5px 0 10px 0;
}
.ganre-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.ganre-menu ul li a{
    display: block;
    padding: 5px 0;
    font: normal 16px ptSans;
    color: #FFF;
    text-decoration: none;
}
.ganre-menu ul li a:hover{
    color: #e66700;
}
.ganre-menu{
    padding: 15px;
}
.last-pay h3{
    font: normal 20px ptSans;
    color: #666;
    border-bottom: solid 2px #666;
    margin: 0 0 10px 0;
    padding: 5px 0 10px 0;
}
.last-pay ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.last-pay ul li a{
    display: block;
    padding: 5px 0;
    font: normal 16px ptSans;
    color: #FFF;
    text-decoration: none;
}
.last-pay ul li a:hover{
    color: #e66700;
}
.last-pay{
    padding: 15px;
}








.slide img{
    display: block;
}
.slide-info-price span{
    font: normal 16px ptSans;
}
.slide-info{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.slide-info-title{
    width: 100%;
    font: bold 20px ptSans;
    box-sizing: border-box;
    padding: 15px;
}
.slide-info-price{
    width: 150px;
    text-align: center;
    font: normal 20px ptSans;
    box-sizing: border-box;
    padding: 15px;
}
.slide-info-soon{
    width: 150px;
    text-align: center;
    font: bold 17px ptSans;
    box-sizing: border-box;
    padding: 15px;
}







h1.list_title{
    display: block;
    margin: 0;
    padding: 15px;
    font: bold 25px ptSans;
}

.game{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
}
.game:nth-child(2n-1){
    background: #f9f9f9;
}
.game:hover{
    background: #eeeeee;
}
.game-link{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.game-img{
    width: 200px;
}
.game-img img{
    display: block;
}
.game-info{
    position: relative;
    width: 100%;
    display: flex;
    align-items:center;
}
.game-info-title{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    font: normal 18px ptSans;
}
.game-info-price{
    width: 120px;
    font: bold 18px ptSans;
}
.game-info-percent{
    position: absolute;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 3px 3px 0 0;
    background: url(../images/perсent.png) top left no-repeat;
    top: 0;
    right: 0;
    text-align: right;
    font: normal 14px ptSans;
    color: #FFF;
}






















.main-tabs{
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    background: #4f4f4f;
}
.main-tabs li{
    padding: 0;
    float: left;
}

.main-tabs li a{
    display: block;
    padding: 10px 20px;
    font: normal 16px ptSans;
    text-decoration: none;
    color: #FFFFFF;
}
.main-tabs li a.active{
    background: #e66700;
}




.list-pager{
    padding: 25px 0; 
}
.list-pager ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.list-pager ul li{
    display: inline-block;
    min-width: 30px;
    height: 39px;
    font: bold 14px/30px Roboto;
    margin: 0 2px; 
}
.list-pager ul li a{
    text-decoration: none;
    color: #4f4f4f;
    display: block;
    min-width: 30px;
    height: 30px;
    font: bold 14px/30px Roboto;
}

.list-pager ul li a:hover{
    background: #4f4f4f;
    color: #FFF;
}
.list-pager ul li.current{
    background: url(../images/current.png) top center repeat;
}

.list-pager ul li.current span{
    color: #FFF;
}
.prev a, .next a{
    padding: 0 5px;
}
.magaz-info{
    padding: 25px;
    font: normal 12px/18px Roboto;
}
.game-object-head{
    background: url(../images/pix.png) top center repeat;
    border-bottom: solid 45px #2f2f2f;
}
.game-object h1{
    font: bold 25px Roboto;
    background: #FFF;
    margin: 0;
    padding: 25px;
    border-top: solid 3px #000;
}
.game-object-head-foto img{
    display: block;
}
.game-description, .game-order{
    background: #FFF;
    color: #333;
    padding: 25px;
    font: normal 15px/21px Roboto;
}
.game-description a, .game-order a{
    color: #ff6000;
}
.game-description a:hover, .game-order a:hover{
    text-decoration: none;
}

.game-description-left{
    box-sizing: border-box;
    padding: 0 25px 0 0;
    width: 70%;
    float: left;
}
.game-description-right{
    width: 30%;
    float: right;
}
.video-content{
    padding: 15px;
}





.game-object-head-foto{
    width: 460px;
    float: left;
}
.game-object-head-foto img {
    width: 100%;
}
.game-object-head-detail{
    margin: 0 0 0 460px;
    padding: 0 0 75px 0;
    box-sizing: border-box;
    min-height: 215px;
    position: relative;
}
a.readmore{
    background: #EEE;
    display: block;
    width: 120px!important;
    padding: 8px 10px;
    margin: 18px 0 0 0;
    color: #333;
    font: normal 13px Roboto;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a:hover.readmore{
    color: #FFF;
    box-shadow: inset 0 0 0 30px #e66700;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.price-buy{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 25px 25px 25px;
}
.buy{
    width: 250px;
    float: right;
    background: url(../images/green-button.png) 0 -50px repeat-x;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.percent{
    margin-right: 250px;
    text-align: left;
    font: bold 23px Roboto;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    color: #FFF;
    text-shadow: 1px 1px 2px #333;
}
.percent span{
    color: #ff6000;
}
.coast{
    width: 50%;
    height: 50px;
    float: left;
    font: bold 26px Roboto;
    color: #FFF;
    text-align: center;
    box-sizing: border-box;
    padding: 8px 0 0 0;
    text-shadow: 2px 2px 2px #5bab3d;
}
.coast span{
    font: normal 14px Roboto;
}
a.buy-button{
    width: 50%;
    height: 50px;
    float: left;
    text-align: center;
    font: bold 23px Roboto;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 2px #5bab3d;
    color: #FFF;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    background: url(../images/green-button.png) 0 -50px repeat-x;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a.buy-button:hover{
    background: url(../images/green-button.png) 0 0 repeat-x;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.game-mini-detail{
    padding: 15px 25px;
    font: normal 13px/21px Roboto;
    color: #c0c0c0;
}
.game-mini-detail a{
    color: #c0c0c0;
}
.game-mini-detail a:hover{
    color: #dfdfdf;
}




.game-mini-detail a.method-activation{
    color: #ff6000;
}
.game-mini-detail a.method-activation:hover{
    color: #ff6000;
}



.description{
    margin: 0 0 25px 0;
    background: #EEE;
}
.description h2{
    font: bold 15px/21px Roboto;
    padding: 10px 20px;
    margin: 0;
    background: #cacaca;
    color: #212121;
}
.description-content{
    padding: 15px 30px;
}
.gallery{
    padding: 0 0 0 0;
}
.gallery-item{
    width: 49%;
    float: left;
    margin:1px; 
}
.gallery-item a img{
    width: 100%;
    display: block;
}
.instruction{
    margin: 0 0 25px 0;
}
.instruction ol{
    margin: 0;
    padding: 0 0 0 15px;
}
.footer{
    background: url(../images/pix.png) top center repeat;
    min-height: 200px;
    max-width: 1200px;
    margin: 50px auto 0 auto;
    box-sizing: border-box;
    padding: 25px;
    border-top: solid 3px #ff6000;
}
.footer-col{
    margin: 0 45px 25px 0;
    float: left;
}
.footer-col span{
    display: block;
    font: bold 16px/21px Roboto;
    color: #fff;
    margin: 0 0 10px 0;
}
.footer-col ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-col ul li{
    line-height: 24px;
}
.footer-col ul li a{
    font: normal 14px/21px Roboto;
    color: #c4c4c4;
    text-decoration: none;
}
.footer-col ul li a:hover{
    color: #FFF;
}
.footer-logo{
    width: 200px;
    float: right;
}
.footer-copy{
    background: #000;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    font: normal 12px/21px Roboto;
    color: #929292;
    text-align: center;
}
.pay-block{
    float: left;
    width: 25%;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
}
.pay-box{
    width: 100%;
    text-align: center;
    padding: 25px;
    box-sizing:border-box;
    background: #EEE;
    border-top: solid 3px #CCC;
    height: 170px;
}
.pay-name{
    font: normal 15px/21px Roboto;
}
.pay-percent{
    font: normal 12px/21px Roboto;
}
.text-content h2{
    font: bold 15px/21px Roboto;
}
.pay-block .radio_button{
    display: none;
}
.pay-block .label_button {
    display: block;
}
.pay-block .label_button:hover{
    cursor: pointer;
}
.pay-block input[type=radio]:checked + label.label_button .pay-box {
    background: #ffdbb1;
}
.game-order-head{
    background: url(../images/pix.png) top left repeat;
}
.game-order-image img{
    width: 100%;
    display: block;
}
.game-order-image{
    width: 300px;
    padding: 15px;
    float: left;
}
.game-order-info{
    margin: 0 0 0 300px;
    padding: 35px 20px;
    min-height: 140px;
    box-sizing: border-box;
}
.game-order-title{
    font: bold 30px Roboto;
    color: #FFF;
}
.game-order-title span{
    font: bold 20px Roboto;
    display: block;
    color: #ff6000;
}
.order-mail-box{
    background: #EEE;
    padding: 25px;
    margin: 25px 0 0 0;
}
.order-mail-form{
    max-width: 600px;
    margin: 0 auto;
}
.order-mail-mail{
    width: 65%;
    padding: 0 20px 0 0;
    float: left;
    box-sizing: border-box;
}
.order-mail-mail input{
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: 0;
    border: none;
    background: #FFF;
    box-shadow: inset 1px 1px 3px 0px #ccc;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.order-mail-submit{
    width: 35%;
    float: left;
}
.order-mail-submit input{
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    display: block;
    float: right;
    background: url(../images/green-button.png) 0 -50px repeat-x;
    border: none;
    cursor: pointer;
    font: bold 18px Roboto;
    text-shadow: 2px 2px 2px #5bab3d;
    color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.order-mail-submit input:hover{
    background: url(../images/green-button.png) 0 0 repeat-x;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.order-mail-text{
    padding: 25px 0 0 0;
    text-align: center;
}
.order-mail-mail input.field-error{
    background: #ff9191;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input.place:focus::-webkit-input-placeholder {
    color:transparent;
    outline: none;
}
input.place:focus::-moz-placeholder {
    color:transparent;
}
input.place:focus:-ms-input-placeholder {
    color:transparent;
}
input.place:focus{
    outline: none;
}
.video-container{
    position:relative;
    padding-bottom:50.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.video-container iframe,.video-container object, .video-container embed{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.game-screenshot{
    margin: 0 0 25px 0;
}



.luckypage{
    background: #FFF;
    border-top: solid 3px #000;
}
.luckypage h1{
    font: bold 25px Roboto;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0;
    padding: 30px;
}
.luckyinfo{
    background: #eeeeee;
    padding: 20px 10%;
    font: normal 15px/21px Roboto;
    text-align: center;
}
.lucky-boxs{
    padding: 60px 50px;
}
.lucky-box{
    text-align: center;
    float: left;
    width: calc(33.3% - 84px);
    margin: 0 40px;
}
.silver{
    border: solid 2px #4d4b4c;
    background: #f8f8f8;
}
.gold {
    border: solid 2px #f59b00;
    background: #fffcf5;
}
.vip {
    border: solid 2px #c92691;
    background: #fdeef4;
}
.lucky-box h2{
    font: bold 22px Roboto;
    color: #4f4f4f;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0;
    padding: 28px 0;
}
.cristal{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.silver .cristal{
    background: url(../images/cristal.png) 0 0 no-repeat;
}
.gold .cristal{
    background: url(../images/cristal.png) 0 -100px no-repeat;
}
.vip .cristal{
    background: url(../images/cristal.png) 0 -200px no-repeat;
}
.lucky-box-price{
    font: bold 35px Roboto;
    color: #4f4f4f;
    margin: 10px 0;
}
.lucky-box-price span{
    font: normal 15px Roboto;
    color: #4f4f4f;
}
.lucky-box-info{
    font: bold 15px Roboto;
    color: #4f4f4f;
}
.lucky-box-info div{
    padding: 3px 0;
}


.lucky-box-buy{
    padding: 45px 15px 15px 15px;
}
.lucky-box-buy a{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    font: bold 19px Roboto;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 2px #5bab3d;
    color: #FFF;
    box-sizing: border-box;
    padding: 15px 0 0 0;
    background: url(../images/green-button.png) 0 -50px repeat-x;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.lucky-box-buy a:hover{
    background: url(../images/green-button.png) 0 0 repeat-x;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.games-in-boxs{
    padding: 0 50px 50px;
    font: normal 15px/21px Roboto;
    color: #4f4f4f;
}
.lucky-comments{
    padding: 0 50px 50px;
}
.autocomplete-suggestions{
    background: #5c5c5c;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}
.autocomplete-suggestion{
    font: normal 14px Roboto;
    color: #FFF;
    padding: 8px 15px;
    border-bottom: solid 1px #777777;
}
.autocomplete-suggestion strong{
    font: normal 14px Roboto;
    color: #ee7c2c;
}
.autocomplete-suggestion:last-child{
    border-bottom: none;
}
.autocomplete-selected{
    background: #ee7c2c;
    cursor: pointer;
}
.autocomplete-selected strong{
    color: #FFF;
}
.nonal{
    float: left;
    width: 125px;
    height: 50px;
    background: #748082;
    font: bold 16px Roboto;
    text-align: center;
    color: #FFF;
    box-sizing: border-box;
    padding: 15px 0 0 0;
}
.soon{
    float: left;
    width: 125px;
    height: 50px;
    background: #079e00;
    font: bold 16px Roboto;
    text-align: center;
    color: #FFF;
    box-sizing: border-box;
    padding: 15px 0 0 0;
    text-shadow: 2px 2px 2px #467534;
    text-transform: uppercase;
}
.vk_users{
    padding: 12px;
}
.best-price-block{
    padding: 15px;
}
.best-price-block h3{
    text-transform: uppercase;
    font: bold 16px ptSans;
    color: #666;
    border-bottom: solid 2px #666;
    margin: 0 0 10px 0;
    padding: 5px 0 10px 0;
}
.sale-per{
    float: left;
    width: 100px;
    background: #ff6000;
    box-sizing: border-box;
    padding: 6px 5px;
    font: bold 13px Roboto;
    color: #FFF;
}
.sale-coast{
    float: left;
    width: calc(100% - 100px);
    text-align: right;
    background: #cacaca;
    font: bold 13px Roboto;
    color: #FFF;
    box-sizing: border-box;
    padding: 6px 5px;
    color: #333;
}
.sale-per-foto img{
    display: block;
}
.special-box {
    margin: 0 0 15px 0;
}









.system{
    margin: 0 0 25px 0;
    background: #EEE;
}
.system h2{
    font: bold 15px/21px Roboto;
    padding: 10px 20px;
    margin: 0;
    background: #cacaca;
    color: #212121;
}
.system-content{
    padding: 15px;
}
.system-element span{
    display: block;
}
.system-element{
    display: flex;
}
.system-element:nth-child(2n-1) {
    background: #F9F9F9;
}
.system-element div{
    box-sizing: border-box;
}
.system-name{
    font: bold 14px Roboto;
    width: 70px;
    background: #fff;
    padding: 10px;
    text-align: right;
}
.system-value{
    font: normal 14px Roboto;
    width: 100%;
    padding: 10px 20px;
}
.reviews{
    background: #FFF;
    padding: 0 0 25px 0;
}
.reviews h1{
    font: bold 25px Roboto;
    background: #FFF;
    margin: 0;
    padding: 25px;
    border-top: solid 3px #000;
}
.reviews-text{
    padding: 0 25px;
    margin: 0 0 25px 0;
    font: normal 16px ptSans;
}
.list-reviews{
    padding: 0 25px;
    margin: 0 0 25px 0;
}
.review{
    display: flex;
    flex-direction: row;
}
.review-date{
    width: 100px;
    background: #EEE;
    text-align: center;
    padding: 8px;
    font: normal 14px ptSans;
}
.review-text{
    width: 100%;
    padding: 8px 20px;
    font: normal 16px ptSans;
}
.review:nth-child(2n-1){
    background: #F9F9F9;
}
.reviews-count{
    font: normal 16px ptSans;
    margin: 0 25px 25px 25px;
    border-bottom: solid 3px #ff6000;
    width: 170px;
    padding: 5px 5px 5px 0;
}
.orange{
    color: #ff6000;
}
.another-button{
    padding: 15px 0;
}
.another-button span{
    display: block;
    font: normal 14px Roboto;
    text-align: center;
    margin: 0 0 10px 0;
}
.another-button a{
    display: block;
    width: 33.3%;
    margin: 0 auto;
    padding: 8px 0;
    text-align: center;
    background: #ffebdf;
    border: solid 1px #ff6000;
    color: #000;
    font: normal 14px Roboto;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.another-button a:hover{
    color: #FFF;
    box-shadow: inset 0 0 0 30px #ff6000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.garants{
    background: #FFF;
    padding: 0 0 25px 0;
}
.garants h1{
    font: bold 25px Roboto;
    background: #FFF;
    margin: 0;
    padding: 25px;
    border-top: solid 3px #000;
}
.list-garants{
    margin: 0 0 25px 0;
    display: flex;
    flex-directtion: row;
    flex-wrap: wrap
}
.garant{
    width: 50%;
    box-sizing: border-box;
    padding: 15px 25px;
    font: normal 15px Roboto;
}
.garant h2{
    font: bold 18px Roboto;
    padding: 0 0 0 30px;
    background: url(../images/good.png) top left no-repeat;
}
.activ-content{
    padding: 15px 30px;
}
.activ-content ol{
    padding: 0 10px;
    margin: 0;
}




.game-in-case{
    padding: 10px;
    margin: 0 0 25px 0;
    background: #efc0a3
}
.game-in-case-foto img{
    box-sizing: border-box;
    width: 100%;
    display: block;
}
.game-in-case-info{
    text-align: center;
    padding: 10px 0;
}


.in-cases-link a{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    background: #e66700;
    border: none;
    color: #FFF;
    cursor: pointer;
    font: normal 16px ptSans;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.in-cases-link a:hover {
    box-shadow: inset 0 0 0 30px #4f4f4f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.live-border {
    position: relative;
    overflow: visible;
}

.live-border .border {
    position: absolute;
    background: #FFFFFF;
    overflow: hidden;
}

.live-border .border.top {
    height: 3px;
    width: 100%;
    top: 0px;
    left: 0px;
}

.live-border .border.right {
    height: 100%;
    width: 3px;
    top: 0px;
    right: 0px;
}

.live-border .border.bottom {
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.live-border .border.left {
    height: 100%;
    width: 3px;
    top: 0px;
    left: 0px;
}

.live-border .border .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FF6000;
    left: 0px;
    top: 0px;
    z-index: 99;
}

.live-border .border.top .bar {
    left: 100%;
    animation: live-border-animate-top 2s linear 2s infinite;
}

.live-border .border.right .bar {
    top: 100%;
    animation: live-border-animate-right 2s linear 1s infinite;
}

.live-border .border.bottom .bar {
    left: -100%;
    animation: live-border-animate-bottom 2s linear 0s infinite;
}

.live-border .border.left .bar {
    top: -100%;
    animation: live-border-animate-left 2s linear 3s infinite;
}

@keyframes live-border-animate-top {
    0%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}

@keyframes live-border-animate-right {
    0%{
        top: 100%;
    }
    100%{
        top: -100%;
    }
}

@keyframes live-border-animate-bottom {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}

@keyframes live-border-animate-left {
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}


.activation-page{
    background: #FFF;
    padding: 0 0 25px 0;
}
.activation-page h1{
    font: bold 25px Roboto;
    background: #FFF;
    margin: 0;
    padding: 25px;
    border-top: solid 3px #000;
}
.activation-page-content{
    padding: 0 25px;
    font: normal 16px ptSans;
}




.top-navigation{
    width: 1200px;
    margin: 0 auto;
    background: #f1f1f1 url(../images/menu.png) top left repeat-x;
    min-height: 40px;
    position: relative;
}
.open-menu{
    display: none;
    right: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background: url(../images/sandvich.png) 100% 9px no-repeat;
}
.top-navigation-container{
    position: relative;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40px;
}
.menu ul li a{
    line-height: 40px;
    display: block;
    padding: 0 10px;
    font: normal 16px/40px ptSans;
    text-decoration: none;
    color: #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    background: #e66700;
    color: #FFF;
}



.lucky-button{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 200px;
}
.lucky-button a{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    font: bold 16px Roboto;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 2px #5bab3d;
    color: #FFF;
    box-sizing: border-box;
    padding: 12px 0 0 0;
    background: url(../images/green-button.png) 0 -50px repeat-x;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.lucky-button a:hover{
    background: url(../images/green-button.png) 0 0 repeat-x;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.special-game{
    padding: 15px;
    position: relative;
}
.special-game a{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.special-game-foto img{
    width: 100%;
    display: block;
}
.special-game-info{
    background: #333;
    text-align: center;
    padding: 15px;
    font: bold 18px Roboto;
    color: #FFF;
}
.special-game-info span{
    color: #e66700;
}
.more-games{
    padding: 15px;
}
.more-games a{
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #e66700;
    color: #e66700;
    text-decoration: none;
    padding: 10px 0;
    font: normal 16px Roboto;
    background: #ffebdb;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.more-games a:hover{
    color: #FFF;
    background: #e66700;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}