/*Общие настройки*/
@font-face{
    font-family: 'ptSans';
    src: url('../fonts/ptSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'ptSans';
    src: url('../fonts/ptSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/robotoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background: url(../images/fon.jpg) top center no-repeat fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.clear-block:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}
* html .clear-block {
    height: 1%;
}
*:first-child + html .clear-block {
    min-height: 1%;
}
.clear {
    clear:both;
    line-height:0;
    height:0;
    font-size:0;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 15px;
}

/*popup_window*/
.head_popup{
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    padding: 0 15px;
}
 span.close_popup_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    font-size: 22px;
    color: #fff;
    background: #1d1d1d;
    border-radius: 5px;
    text-shadow: 0 1px 1px #00000070;
    cursor: pointer;
}
.active_popup{
    display: block!important;
}
.active_popup .head_popup{
    display: flex;
}

/*Разметка колонок*/
.columns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0 50px 0;
}
.columns .left{
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}
.columns .center{
    width: 100%;
}
.columns .big_center{
    width: 100%;
}
.columns .right{
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}
.content{
}

/*Шапка сайта*/
.head{
    height:100px;
    margin: 0 auto;
    background: #000000a8;
    position: relative;
    z-index: 2;
}
.logo{
    width: 200px;
    height: 70px;
    position: absolute;
    left: 25px;
    top: 15px;
}
.logo a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo a img{
    display: block;
}
.logo a img:nth-child(1){
    width: 48px;
    margin: 0 13px 0 0;
}
.logo a img:nth-child(2){
    width: 139px;
}
.logo a img:nth-child(3){
    width: 100%;
    margin: 6px 0 0 0;
}
.search{
    width: 590px;
    position: absolute;
    left: 275px;
    top: 30px;
    z-index: 2;
}
.search form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.search-text{
    width: 100%;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}
.search-submit{
    flex-basis: 85px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 85px;
}
.search-text input{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 15px;
    background: #EEE;
    box-shadow: inset 1px 1px 3px 0px #ccc;
    box-sizing: border-box;
}
.search-text input.place:focus::-webkit-input-placeholder {
    color:transparent;
    outline: none;
}
.search-text input.place:focus::-moz-placeholder {
    color:transparent;
}
.search-text input.place:focus:-ms-input-placeholder {
    color:transparent;
}
.search-text input.place:focus{
    outline: none;
}
.search-submit input{
    width: 100%;
    height: 40px;
    display: block;
    background: #4f4f4f;
    border: none;
    color: #FFF;
    cursor: pointer;
    font: normal 14px ptSans;
}
.search-submit input:hover {
    box-shadow: inset 0 0 0 30px #e66700;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.book{
    width: 260px;
    position: absolute;
    right: 25px;
    top: 30px;
    z-index: 2;
}
.books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.book a{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: normal 14px ptSans;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
}
.book a:hover{
    background: #e66700;
    color: #FFF;
}
.books_head{
    display: none;
    width: 100%;
    text-align: center;
    font: normal 20px Roboto;
    color: #fff;
    padding: 0 0 15px 0

}
.mobile_navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.search_button{
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 55px;
    height: 55px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}
.book_button{
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 55px;
    height: 55px;
    font:normal 16px Roboto;
    color: #fff;
    cursor: pointer;
}
.sandvich_button{
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 55px;
    height: 55px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

/*Главное меню*/
.navigation{
    margin: 0 auto;
    background: linear-gradient(to top, #fff, #eee);
    border-bottom: solid 3px #333;
    z-index: 2;
}
.navigation .menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation .menu ul li{
    width: 100%;
}
.navigation .menu ul li a{
    display: block;
    padding: 10px 25px;
    font: bold 13px Roboto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    color: #333;
    box-sizing: border-box;
    width: 100%;
    border-left: solid 1px #fff;
    border-right: solid 1px #e2e2e2;
}
.navigation .menu ul li:first-child a{
    border-left: none;
}
.navigation .menu ul li:last-child a{
    border-right: none;
}
.navigation .menu ul li:nth-last-child(2) a{
    border-right: none;
}
.navigation .menu ul li a:hover{
    text-decoration: underline;
}
.navigation .menu ul li a.lucky-button{
    text-align: center;
    font: bold 13px Roboto;
    color: #FFF;
    background: linear-gradient(to top, #71cb4a, #60a343);
    border-left: none;
    text-shadow: 1px 2px 1px #60a343;
}
.navigation .menu ul li a.lucky-button:hover{
    text-decoration: none;
    background: linear-gradient(to top, #71cb4a, #79af61);
}


/*Блок в колонке*/
.block{
    padding: 10px;
    background: #000000a8;
    margin: 0 0 15px 0;
}
.block h3{
    font: bold 13px Roboto;
    text-transform: uppercase;
    color: #eee;
    border-bottom: solid 2px #eee;
    margin: 0 0 10px 0;
    padding: 5px 0 10px 0;
}
.block ul.menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.block ul.menu li {
    margin: 0 0 1px 0;
}
.block ul.menu li a {
    display: block;
    /*background: #1818288c;*/
    background: #5050638c;
    padding: 4px 10px;
    font: normal 13px Roboto;
    color: #fff;
    text-decoration: none;
}
.block ul.menu li a:hover {
    background: #8282828c;
}



/*Свойства для табов*/
.tabs .tab_content{
    display: none;
}
.tabs div.active{
    display: block;
}


/*Табы на главной*/
.tabs_on_main .tab_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: linear-gradient(to top, #fff, #eee);
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs_on_main .tab_menu li{
    padding: 10px 20px;
    font: bold 13px Roboto;
    text-transform: uppercase;
    cursor: pointer;
}
.tabs_on_main .tab_menu li.active {
    background: #ee7928;
    color: #fff;
}


/*Список игр*/

.head_game_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 15px;
    background: #eee;
}
.head_game_list h1{
    display: block;
    margin: 0;
    padding: 0;
    font: bold 22px Roboto;
    color: #333;
}
.head_game_list .filter_button {
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 55px;
    height: 35px;
    font-size: 22px;
    color: #333;
    cursor: pointer;
}
.game_list{
    padding: 15px;
    background: #fff;
}
.game_list .game{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 0 1px 2px #00000036;
    margin: 0 0 10px 0;
    position: relative;
}
.game_list .game:hover{
    background: #fdfdfd;
}
.game_list .game a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.game_list .game:last-child{
    margin: 0 0 0 0;
}
.game_list .game .game_img{
    flex-basis: 180px;
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 100%;
}
.game_list .game .game_img img{
    display: block;
    width: 100%;
}
.game_list .game .game_info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.game_list .game .game_info .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
}
.game_list .game .game_info .status{
    display: flex;
    flex-basis: 130px;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}
.game_list .name{
    font: normal 16px Roboto;
    margin: 0 0 8px 0;
}
.game_list .store_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.game_list .store_info .mini_icon{
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
}
.game_list .store_info .mini_icon_steam{
    background: url(../images/steam.png) 0px 0px no-repeat;
}
.game_list .store_info .mini_icon_origin{
    background: url(../images/origin.png) 0px 0px no-repeat;
}
.game_list .store_info .mini_icon_uplay{
    background: url(../images/uplay.png) 0px 0px no-repeat;
}
.game_list .store_info .mini_icon_rockstar{
    background: url(../images/rockstar.png) 0px 0px no-repeat;
}
.game_list .store_info .genre{
    font: normal 12px Roboto;
    color: #ccc;
}
.game_list .coast{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.game_list .soon{
    padding: 7px;
    font: normal 14px Roboto;
    width: 100%;
    background: linear-gradient(to top, #4ca2c7, #43a39f);
    text-align: center;
    color: #fff;
}
.game_list .nonal{
    padding: 7px;
    font: normal 14px Roboto;
    width: 100%;
    text-align: center;
    color: #333;
}
.game_list .percent{
    font: normal 14px Roboto;
    padding: 5px;
    border: solid 2px #66b246;
    color: #585858;
    box-sizing: border-box;
}
.game_list .price{
    width: 100%;
    font: normal 14px Roboto;
    padding: 5px;
    background: #66b246;
    border: solid 2px #66b246;
    color: #fff;
    text-align: center;
}
.game_list .price span{
    font: normal 10px Roboto;
}
.game_list .show_more a{
    display: block;
    font: normal 14px Roboto;
    text-align: center;
    background: #f4f4f4;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.game_list .show_more a:hover{
    color: #4ba2c3;
}

/*Подвал сайта*/
.footer{
    min-height: 150px;
    background: #000000a8;
    border-top: solid 3px #ffffff;
}
.footer_columns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 45px 25px;
}
.footer_columns .menu{
    width: 25%;
    padding: 0 10px;
}
.footer_columns .footer_info{
    width: 25%;
    padding: 0 10px;
    font: normal 13px Roboto;
    color: #b3b3b3;
}
.footer_columns .footer_info span{
    font: bold 13px Roboto;
    text-transform: uppercase;
    color: #f9f9f9;
    display: block;
}
.footer_columns .footer_info div.mail{
    font: bold 13px/21px Roboto;
    margin: 10px 0;
}
.footer_columns .footer_info div.mail i{
    margin: 0 5px 0 0 ;
}
.footer_columns .footer_info div.mail a{
    color: #f9f9f9;
}
.footer_columns .menu span{
    font: bold 13px Roboto;
    text-transform: uppercase;
    color: #f9f9f9;
    display: block;
}
.footer_columns .menu ul{
    list-style: none;
    color: #fff;
    padding: 15px 0;
    margin: 0;
    line-height: 21px;
}
.footer_columns .menu ul li{
    margin: 0 0 1px 0;
}
.footer_columns .menu ul li a{
    color: #fff;
    font: normal 13px Roboto;
    background: url(../images/pix.gif) 0px 6px no-repeat;
    display: block;
    background: #5050638c;
    max-width: 180px;
    padding: 4px 10px;
    text-decoration: none;
}
.footer_columns .menu ul li a:hover {
    background: #8282828c;
}





/*Фильтр блок*/
.filter_block{
    z-index: 2;
}
.price_detail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0 0 0;
}
.price_detail span{
    width: 15%;
    font: normal 13px Roboto;
    color: #fff;
    text-align: center;
}
.price_detail div{
    width: 25%;
}
.price_detail div input{
    display: block;
    width: 100%;
    border: none;
    background: #5050638c;
    color: #fff;
    padding: 2px 4px;
    box-sizing: border-box;
    border: solid 1px #404040;
}
.property {
    margin: 0 0 15px 0;
}
.property_head{
    font: normal 13px Roboto;
    color: #fff;
    margin: 0 0 15px 0;
    background: #5050638c;
    padding: 4px;
    border-bottom: solid 2px #484848;
}

.property_list div{
    margin: 0 0 2px 0;
}
.property_list input[type=checkbox]{
    display: none;
}
.property_list label span{
    font: normal 13px Roboto;
    color: #fff;
}
.property_list label {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}
.property_list label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: #5050638c;
    border: solid 1px #696969;
}
.property_list input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 12px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
.block_button{
    background: #5050638c;
    padding: 10px;  
}
.block_button input{
    background: #ff8d00;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px #efc3b0, 0 3px 6px -5px #BBB;
    border: none;
    display: block;
    padding: 8px 15px;
    color: #fff;
    width: 100%;
    cursor: pointer;
}


/*Карточка игры*/
.game_page{
    
}
.game_page h1{
    font: bold 25px Roboto;
    background: #FFF;
    margin: 0;
    padding: 25px;
}
.game_page .game_head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #000000a8;
}
.game_page .game_img{
    flex-basis: 460px;
    flex-shrink: 0;
    flex-grow: 0;
}
.game_page .game_info{
    position: relative;
    width: 100%;
    padding: 0 0 50px 0;
}
.game_page .game_detail_info{
    padding: 20px;
}
.game_page .game_detail_info div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #5050638c;
    font: normal 13px Roboto;
    margin: 0 0 1px 0;
}
.game_page .game_detail_info div span:first-child{
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    color: #fff;
    text-align: right;
}
.game_page .game_detail_info div span{
    width: 100%;
    padding: 4px 10px;
    color: #a0a0a0;
}
.game_page .game_detail_info div span a{
    color: #a0a0a0;
}
.game_page .game_detail_info div span a:hover{
    color: #ffffff;
}
.game_page .game_img img{
    display: block;
    width: 100%;
}
.game_page .game_description{
    background: #fff;
}
.game_page .game_description_columns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.game_page .game_description_left{
    width: 100%;
    padding: 30px 15px 30px 30px;
}
.game_page .game_description_right{
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 30px 30px 30px 15px;
}
.game_page .game_description_tabs ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 8px 8px 0 8px;
    list-style: none;
    background: #2f2f2f;
}
.game_page .game_description_tabs ul li{
    background: #444444;
    padding: 8px 15px;
    font: normal 13px Roboto;
    color: #eee;
    cursor: pointer;
    margin: 0 1px 0 0;
}
.game_page .game_description_tabs ul li.active{
    background: #ee7928;
    color: #fff;
}
.game_page .game_info .status{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
.game_page .game_info .status .percent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: #fff;
    font: bold 23px Roboto;
}
.game_page .game_info .status .percent span {
    color: #ff6000;
}
.game_page .game_info .status .buy{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
    background: linear-gradient(to top, #71cb4a, #60a343);
    border-radius: 15px 0 0 0;
    overflow: hidden;
}
.game_page .game_info .status .buy .coast{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 25px Roboto;
    color: #fff;
    width: 50%;
    text-shadow: 2px 2px 2px #5bab3d;
}
.game_page .game_info .status .buy .coast span{
    font: normal 16px Roboto;
}
.game_page .game_info .status .buy a.buy_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font: normal 18px Roboto;
    color: #fff;
    text-decoration: none;
}
.game_page .game_info .status .buy div.soon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font: normal 18px Roboto;
    color: #fff;
    background: linear-gradient(to top, #4ca2c7, #43a39f);
}
.game_page .game_info .status .buy div.nonal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font: normal 14px Roboto;
    color: #fff;
    background: #333;
}
.game_page .description_block h2{
    font: bold 13px/21px Roboto;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
    background: #cacaca;
    color: #333;
}
.game_page .description_content{
    font: normal 13px/19px Roboto;
    background: #eee;
    color: #333;
    padding: 15px;
}
.game_page .media_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.game_page .media_block .media_element img{
    display: block;
    width: 100%;
}
.game_page .media_block .media_element:first-child{
    width: calc(100% - 2px);
}
.game_page .media_block .media_element{
    width: calc(50% - 2px);
    margin: 1px;
    position: relative;
}
.game_page .media_block .media_element a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.video_sticker{
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ee7928;
    font: normal 13px Roboto;
    padding: 3px 8px;
    color: #fff;
}
.comments{
    font: normal 14px Roboto;
    padding: 0 30px 30px 30px;
}


/*Пейджкр*/
.pager{
    padding: 30px 15px;
    background: #000000a8;
    font: normal 14px Roboto;
}
.pager ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.pager ul li{
    margin: 0 5px;
    color: #fff;
}
.pager ul li a{
    color: #fff;
}
.pager ul li a:hover{
    color:#ff8d00;
}

/*Слайд на главной*/
.slide-container {
    width: 100%;
}
.swiper-wrapper {
    width: 1px!important;
}
.slide .slide_img{
    position: relative;
}
.slide .slide_img img{
    width: 100%;
    display: block;
}
.slide .slide_img a{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.slide .slide_info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: linear-gradient(to top, #fff, #eee);
}
.slide .slide_info .slide_name{
    width: 100%;
    font: bold 13px Roboto;
    text-transform: uppercase;
    padding: 10px;
}
.slide .slide_info .slide_coast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 0;
    background: linear-gradient(to top, #71cb4a, #60a343);
    font: normal 16px Roboto;
    text-align: center;
    color: #fff;
}
.slide .slide_info .slide_coast span{
    font: normal 13px Roboto;
}
.slide_soon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 0;
    background: linear-gradient(to top, #4ca2c7, #43a39f);
    font: normal 16px Roboto;
    text-align: center;
    color: #fff;
}
.slide-prev,
.slide-next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    cursor: pointer;
    color: #fff;
}
.slide-prev{
    top: 45px;
    left: 0;
}
.slide-next{
    top: 45px;
    right: 0;
}
.swiper-button-disabled{
    opacity: 0.3;
    cursor: default;
}

/*Страница оплаты*/
.payment_head h1{
    font: bold 22px Roboto;
    color: #333;
    text-align: center;
    padding: 15px;
    margin: 0;
    background: #eee;
}
.payment_content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 45px;
    background: #FFF;
}
.payment_info_order{
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 30px 0 0;
}
.payment_form{
    width: 100%;
}
.payment_block {
    margin: 0 0 25px 0;
}
.payment_game{
    padding: 15px;
    background: #333;
    border-radius: 15px;
}
.payment_game .foto img{
    display: block;
    width: 100%;
}
.payment_select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.payment_cont_head{
    font: bold 16px Roboto;
    padding: 10px 15px;
    color: #333;
}
.payment_box{
    width: calc(20% - 2px);
    margin: 1px;
}
.payment{
    background: #f9f9f9;
    padding: 30px;
    text-align: center;
    cursor: pointer;
}
.payment .payment_ic{
    width: 70%;
    margin: 0 auto 7px auto;
}
.payment .payment_ic img{
    width: 100%;
    display: block;
}
.payment .payment_name{
    font: normal 13px Roboto;
    color: #333;
    margin: 0 0 5px 0;
}
.payment .payment_kom{
    font: normal 11px Roboto;
    color: #666;
}
.payment_game .detail{
    margin: 15px 0;
}
.payment_game .detail .name{
    font: normal 14px Roboto;
    color: #eee;
    text-align: center;
}
.payment_game .detail .coast{
    font: normal 14px Roboto;
    color: #eee;
    text-align: center;
}
.payment_game .detail .coast div:first-child{
    margin: 0 0 10px 0;
}
.payment_game .detail .coast .base_coast span{
    font: bold 25px Roboto;
    color: #eee;
    text-align: center;
}
.payment_box input[type=radio]{
    display: none;
}
.payment_box input[type=radio]:checked + label .payment {
    background: #ffdbb1;
}
.mail_box{
    background: #f9f9f9;
    padding: 15px;
}
.mail_box .mail{
    max-width: 300px;
    padding: 0 0 10px 0;
}
.mail_box .submit_form{
    padding: 0 0 10px 0;
    max-width: 200px;
}
.mail_box .terms_form{
    padding: 0 0 10px 0;
    font: normal 11px Roboto;
    color: #828282;
}
.mail_box .terms_form a{
    color: #828282;
}
.mail_box .terms_form a:hover{
    color: #ee7e2e;
}
.mail_box .mail input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-sizing: border-box;
}
.mail_box .mail input:focus::-webkit-input-placeholder {
    color:transparent;
    outline: none;
}
.mail_box .mail input:focus::-moz-placeholder {
    color:transparent;
}
.mail_box .mail input:focus:-ms-input-placeholder {
    color:transparent;
}
.mail_box .mail input:focus{
    outline: none;
}
.mail_box .submit_form input{
    background: linear-gradient(to top, #71cb4a, #60a343);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font: normal 16px Roboto;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.mail_box .submit_form input:hover{
    background: linear-gradient(to top, #71cb4a, #79af61);
}
#payment_error{
}
#payment_error div{
    background: #f7d7d7;
    color: #bb5f5f;
    margin: 0 0 10px 0;
    padding: 4px 10px;
    font: normal 12px Roboto;
}
.final_coast{
    background: #f9f9f9;
    padding: 15px;
    font: normal 15px Roboto;
    color: #828282;
}
.final_coast span{
    font: bold 15px Roboto;
    color: #333;
}

/*Оформление страницы контента - контакты, поддержка, отзывы ... */
.content_head h1{
    font: bold 22px Roboto;
    color: #333;
    padding: 15px 30px;
    margin: 0;
    background: #eee;
}
.content{
    padding: 15px;
    background: #fff;
}

/*Список отзывов*/
.reviews{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.oplata_reviews{
    padding: 15px;
    width: 50%;
}
.vk_reviews{
    padding: 15px;
    width: 50%;
}
.head_review {
    padding: 0 0 15px 0;
    font: normal 13px/18px Roboto;
    color: #333;
    min-height: 100px;
}
.head_review h2{
    font: bold 20px Roboto;
}
.box_reviews{
    padding: 15px;
    background: #eee;
    border-radius: 10px;
}
.list_reviews{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px #e4e4e4;
}
.review_head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: solid 1px #fff;
    background: #ce4e03;
    height: 40px;
    font: bold 13px Roboto;
    color: #fff;
}
.review_head_date{
    flex-basis: 85px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 15px;
    text-align: center;
}
.review_head_text{
    width: 100%;
    padding: 0 15px;
}
.review{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font: normal 13px/18px Roboto;
    color: #333;
}
.review:nth-child(2n-1) {
    background: #fbfbfb;
}
.review_date{
    flex-basis: 85px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 8px 15px;
    text-align: center;
    color: #ee8234;
}
.review_text{
    width: 100%;
    padding: 8px 15px;
    overflow: hidden;
}

/*Автокомплит поиска*/
.autocomplete-suggestions{
    background: #333333;
    padding: 15px 0;
}
.game_result{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
}
.game_result .game_result_img{
    flex-basis: 120px;
    flex-shrink: 0;
    flex-grow: 0;
}
.game_result .game_result_img img{
    width: 100%;
    display: block;
}
.game_result .game_result_title{
    width: 100%;
    box-sizing: border-box;
    word-break:break-all;
    padding: 0 10px;
    font: normal 13px Roboto;
    color: #eee;
}
.game_result .game_result_price{
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    font: normal 13px Roboto;
    color: #eee;
    text-align: right;
    box-sizing: border-box;
    padding: 0 10px;
}
.autocomplete-selected .game_result{
    background: #6b5a4e;
    cursor: pointer;
}