/*Адаптация wrapper и body*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .wrapper{
        max-width: 1100px;
    }
}
@media screen and (min-width: 450px) and (max-width: 980px){
    body{
        padding: 75px 0 0 0;
    }
    .wrapper{
        max-width: 1100px;
        padding: 0;
    }
}
@media screen and (max-width: 450px){
    body{
        padding: 50px 0 0 0;
    }
    .wrapper{
        max-width: 1100px;
        padding: 0;
    }
}

/*Адаптация popup элементов*/
@media screen and (min-width: 980px){
    .active_popup .head_popup{
        display: none;
    }
}
@media screen and (max-width: 450px){
    .head_popup{
        height: 50px;
    }
}

/*Адаптация head*/
@media screen and (min-width: 980px) and (max-width: 1150px){
    .logo {
        width: 160px;
        height: 56px;
        top: 25px;
    } 
    .logo a img:nth-child(1){
        width: 38px;
        margin: 0 10px 0 0;
    }
    .logo a img:nth-child(2){
        width: 112px;
    }
    .logo a img:nth-child(3){
        width: 100%;
        margin: 6px 0 0 0;
    }
}
@media screen and (min-width: 700px) and (max-width: 980px){
    .logo {
        position: static;
        width: 170px;
        height: 40px;
        top: 25px;
        flex-shrink: 0;
        flex-grow: 0;
        margin: 0 25px 0 0;
    }
    .logo a img:nth-child(1){
        width: 40px;
        margin: 0 10px 0 0;
    }
    .logo a img:nth-child(2){
        width: 118px;
    }
    .logo a img:nth-child(3){
        display: none;
    }
    .head{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        box-sizing: border-box;
        padding: 0 15px;
        background: #000000c7;
    }
    .search_button{
        display: flex;
    }
    .book_button{
        display: flex;
    }
    .sandvich_button{
        display: flex;
    }
}
@media screen and (min-width: 450px) and (max-width: 700px){
    .logo {
        position: static;
        width: 170px;
        height: 40px;
        top: 25px;
        flex-shrink: 0;
        flex-grow: 0;
        margin: 0 25px 0 0;
    }
    .logo a img:nth-child(1){
        width: 40px;
        margin: 0 10px 0 0;
    }
    .logo a img:nth-child(2){
        width: 118px;
    }
    .logo a img:nth-child(3){
        display: none;
    }
    .head{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        box-sizing: border-box;
        padding: 0 15px;
        background: #000000c7;
    }
    .search_button{
        display: flex;
    }
    .book_button{
        display: flex;
    }
    .sandvich_button{
        display: flex;
    }
}
@media screen and (max-width: 450px){
    .logo {
        position: static;
        width: 130px;
        height: 32px;
        top: 25px;
        flex-shrink: 0;
        flex-grow: 0;
        margin: 0 15px 0 0;
    }
    .logo a img:nth-child(1){
        width: 30px;
        margin: 0 10px 0 0;
    }
    .logo a img:nth-child(2){
        width: 90px;
    }
    .logo a img:nth-child(3){
        display: none;
    }
    .head{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        box-sizing: border-box;
        padding: 0 10px;
        background: #000000c7;
    }
    .search_button{
        width: 45px;
        height: 45px;
        display: flex;
    }
    .book_button{
        width: 45px;
        height: 45px;
        display: flex;
    }
    .sandvich_button{
        width: 45px;
        height: 45px;
        display: flex;
    }
}

/*Адаптация главное меню*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .navigation .menu ul li a{
        font: bold 12px Roboto;
    }
    .navigation .menu ul li a.lucky-button{
        font: bold 12px Roboto;
    }
}
@media screen and (min-width: 980px) and (max-width: 1150px){
    .navigation .menu ul li a{
        font: bold 11px Roboto;
        padding: 10px 15px;
    }
    .navigation .menu ul li a.lucky-button{
        font: bold 11px Roboto;
    }
}
@media screen and (min-width: 700px) and (max-width: 980px){
    .navigation{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
    }
    .navigation .menu{
        padding: 15px;
    }
    .navigation .menu ul{
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }

    .navigation .menu ul li{
        margin: 0 0 1px 0;
    }
    .navigation .menu ul li a {
        border: none;
        background: #5050638c;
        color: #fff;
        font: normal 16px Roboto;
        text-align: left;
    }
    .navigation .menu ul li a:hover {
        text-decoration: none;
        background: #505063c7;
    }
    .navigation .menu ul li a.lucky-button {
        font: normal 16px Roboto;
        text-align: left;
    }
}
@media screen and (min-width: 450px) and (max-width: 700px){
    .navigation{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
    }
    .navigation .menu{
        padding: 15px;
    }
    .navigation .menu ul{
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }

    .navigation .menu ul li{
        margin: 0 0 1px 0;
    }
    .navigation .menu ul li a {
        border: none;
        background: #5050638c;
        color: #fff;
        font: normal 16px Roboto;
        text-align: left;
    }
    .navigation .menu ul li a:hover {
        text-decoration: none;
        background: #505063c7;
    }
    .navigation .menu ul li a.lucky-button {
        font: normal 16px Roboto;
        text-align: left;
    }
}
@media screen and (max-width: 450px){
    .navigation{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
    }
    .navigation .menu{
        padding: 15px;
    }
    .navigation .menu ul{
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }

    .navigation .menu ul li{
        margin: 0 0 1px 0;
    }
    .navigation .menu ul li a {
        border: none;
        background: #5050638c;
        color: #fff;
        font: normal 14px Roboto;
        text-align: left;
        padding: 10px 10px;
    }
    .navigation .menu ul li a:hover {
        text-decoration: none;
        background: #505063c7;
    }
    .navigation .menu ul li a.lucky-button {
        font: normal 14px Roboto;
        text-align: left;
    }
    span.close_popup_button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        font-size: 22px;
        color: #fff;
        background: #1d1d1d;
        border-radius: 5px;
        text-shadow: 0 1px 1px #00000070;
        cursor: pointer;
    }
}
@media screen and (max-width: 980px){
    .navigation{
        display: none;
    }
}

/*Адаптация алфавитный указатель*/
@media screen and (min-width: 980px) and (max-width: 1150px){
    .book {
        width: 195px;
        top: 35px;
    }
    .book a {
        width: 15px;
        height: 15px;
        font: normal 11px/15px ptSans;
    }
}
@media screen and (min-width: 700px) and (max-width: 980px){
    .book{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
        width: auto;
        height: auto;
    }
    .books_head{
        display: block;
    }
    .books{
        max-width: 400px;
        margin: 0 auto;
        padding: 15px;
    }
    .book a{
        width: 40px;
        height: 40px;
        font: normal 20px ptSans;
        background: #5050638c;
        margin: 5px;
    }
}
@media screen and (min-width: 450px) and (max-width: 700px){
    .book{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
        width: auto;
        height: auto;
    }
    .books_head{
        display: block;
    }
    .books{
        max-width: 300px;
        margin: 0 auto;
        padding: 15px;
    }
    .book a{
        width: 40px;
        height: 40px;
        font: normal 20px ptSans;
        background: #5050638c;
        margin: 5px;
    }
}
@media screen and (max-width: 450px){
    .book{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
        width: auto;
        height: auto;
    }
    .books_head{
        display: block;
        font: normal 16px Roboto;
    }
    .books{
        max-width: 300px;
        margin: 0 auto;
        padding: 15px;
    }
    .book a{
        width: 35px;
        height: 35px;
        font: normal 18px ptSans;
        background: #5050638c;
        margin: 5px;
    }
}

/*Адаптация поиска*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .search {
        width: 500px;
    }
}
@media screen and (min-width: 980px) and (max-width: 1150px){
    .search {
        width: 500px;
        top: 35px;
        left: 215px;
    }
    .search-text input{
        height: 30px;
    }
    .search-submit input{
        height: 30px;
    }
}
@media screen and (min-width: 700px) and (max-width: 980px){
    .search {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
        width: auto;
        height: auto;
    }
    .search form{
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
    }
    .search-text {
        padding: 0;
    }
    .search-submit {
        display: none;
    }
}
@media screen and (max-width: 700px){
    .search {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
        width: auto;
        height: auto;
    }
    .search form{
        max-width: 450px;
        margin: 0 auto;
        padding: 15px;
    }
    .search-text {
        padding: 0;
    }
    .search-submit {
        display: none;
    }
}

/*Адаптация подвала*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .footer_columns {
        padding: 35px 25px;
    }
    .footer_columns .menu span{
        font: bold 12px Roboto;
    }
    .footer_columns .footer_info span {
        font: bold 12px Roboto;
    }
}
@media screen and (min-width: 980px) and (max-width: 1150px){
    .footer_columns {
        padding: 25px 15px;
    }
    .footer_columns .menu span{
        font: bold 11px Roboto;
    }
    .footer_columns .footer_info span {
        font: bold 11px Roboto;
    }
    .footer_columns .footer_info {
        font: normal 12px/17px Roboto;
    }
}
@media screen and (min-width: 700px) and (max-width: 980px){
    .footer_columns {
        padding: 25px 15px;
        flex-wrap: wrap;
    }
    .footer_columns .menu {
        padding: 0 20px;
    }
    .footer_columns .menu span{
        font: bold 11px Roboto;
    }
    .footer_columns .footer_info span {
        font: bold 11px Roboto;
    }
    .footer_columns .footer_info {
        font: normal 12px/17px Roboto;
        padding: 0 20px;
    }
    .footer_columns div:last-child{
        width: 100%;
        margin: 25px 0 0 0;
    }
}
@media screen and (min-width: 450px) and (max-width: 700px){
    .footer_columns {
        padding: 25px 15px;
        flex-wrap: wrap;
    }
    .footer_columns .menu {
        width: 40%;
        padding: 0 10px;
    }
    .footer_columns .menu span{
        font: bold 11px Roboto;
    }
    .footer_columns .footer_info span {
        font: bold 11px Roboto;
    }
    .footer_columns .footer_info {
        font: normal 12px/17px Roboto;
        padding: 0 10px;
    }
    .footer_columns div:last-child{
        width: 100%;
        margin: 25px 0 0 0;
    }
    .footer_columns div:nth-last-child(2){
        width: 100%;
        margin: 25px 0 0 0;
    }
}
@media screen and (max-width: 450px){
    .footer_columns {
        padding: 25px 15px;
        flex-wrap: wrap;
    }
    .footer_columns .menu {
        width: 100%;
        padding: 0;
        order: 1;
    }
    .footer_columns .menu:nth-child(2) {
        order: 0;
    }
    .footer_columns .menu span{
        font: bold 11px Roboto;
    }
    .footer_columns .footer_info span {
        font: bold 11px Roboto;
    }
    .footer_columns .footer_info {
        font: normal 12px/17px Roboto;
        padding: 0;
        order: 1;
    }
    .footer_columns div:last-child{
        width: 100%;
        margin: 25px 0 0 0;
    }
    .footer_columns div:nth-last-child(2){
        width: 100%;
        margin: 25px 0 0 0;
    }
    .footer_columns .menu ul li a{
        max-width: 200px;
    }
}




/*Адаптация колонок*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .columns .left{
        flex-basis: 230px;
    }
    .columns .right{
        flex-basis: 230px;
    }
}
@media screen and (min-width: 980px) and (max-width: 1150px){
    .columns .left{
        flex-basis: 200px;
    }
    .columns .right{
        flex-basis: 200px;
    }
}
@media screen and (max-width: 980px){
    .columns .left{
        flex-basis: 0px;
    }
    .columns .right{
        flex-basis: 0px;
    }
    .columns .left .block, .columns .right .block{
        display: none;
    }
}





/*Адаптация вывод игры*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .game_page h1 {
        font: bold 22px Roboto;
        padding: 15px;
    }
    .game_page .game_info .status .percent {
        font: bold 18px Roboto;
    }
    .game_page .game_info .status .buy .coast {
        font: bold 18px Roboto;
    }
    .game_page .game_info .status .buy a.buy_button{
        font: normal 16px Roboto;
    }
    .game_page .game_info .status .buy div.soon{
        font: normal 16px Roboto;
    }
    .game_page .game_info .status {
        height: 40px;
    }
    .game_page .game_info {
        padding: 0 0 40px 0;
    }
    .game_page .game_detail_info div {
        font: normal 11px Roboto;
    }
}
@media screen and (min-width: 980px) and (max-width: 1150px){
    .game_page h1 {
        font: bold 22px Roboto;
        padding: 15px;
    }
    .game_page .game_info .status .percent {
        font: bold 14px Roboto;
    }
    .game_page .game_info .status .buy .coast {
        font: bold 18px Roboto;
    }
    .game_page .game_info .status .buy a.buy_button{
        font: normal 16px Roboto;
    }
    .game_page .game_info .status .buy div.soon{
        font: normal 16px Roboto;
    }
    .game_page .game_info .status {
        height: 40px;
    }
    .game_page .game_info {
        padding: 0 0 40px 0;
    }
    .game_page .game_detail_info div {
        font: normal 11px Roboto;
    }
    .game_page .game_img {
        flex-basis: 410px;
    }
    .game_page .game_info .status .buy .coast span {
        font: normal 12px Roboto;
    }
    .game_page .description_content {
        font: normal 12px/19px Roboto;
        padding: 5px 15px;
    }
    .game_page .game_description_left {
        padding: 20px 10px 20px 20px;
    }
    .game_page .game_description_right {
        padding: 20px 20px 20px 10px;
    }
}
@media screen and (min-width: 800px) and (max-width: 980px){
    .game_page h1 {
        font: bold 22px Roboto;
    }
    .game_page .game_head {
        padding: 30px;
    }
    .game_page .game_detail_info {
        padding: 0 0 0 20px;
    }
    .game_page .game_info .status .percent {
        font: bold 16px Roboto;
    }
    .game_page .game_info .status .buy {
        border-radius: 5px;
    }
    .game_page .game_info .status {
        height: 40px;
    }
    .game_page .game_info .status .buy .coast {
        font: bold 18px Roboto;
    }
    .game_page .game_info .status .buy a.buy_button {
        font: normal 16px Roboto;
    }
    .game_page .game_info .status .buy div.soon{
        font: normal 16px Roboto;
    }
    .game_page .game_description_tabs ul {
        padding: 8px 30px 0 30px;
    }

    .game_page .game_description_left {
        padding: 15px 15px 15px 30px;
    }
    .game_page .game_description_right {
        padding: 15px 30px 15px 15px;
    }
    .game_page .game_img {
        flex-basis: 370px;
    }
}
@media screen and (min-width: 680px) and (max-width: 800px){
    .game_page h1 {
        font: bold 22px Roboto;
    }
    .game_page .game_head {
        padding: 30px;
    }
    .game_page .game_detail_info {
        padding: 0 0 0 20px;
    }
    .game_page .game_info .status .percent {
        font: bold 16px Roboto;
        height: 40px;
        width: 70%;
    }
    .game_page .game_info .status .buy {
        border-radius: 5px;
        height: 40px;
        width: 85%;
    }
    .game_page .game_info .status {
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 0 0 0 20px;
    }
    .game_page .game_info {
        padding: 0 0 0 0;
    }
    .game_page .game_info .status .buy .coast {
        font: bold 18px Roboto;
    }
    .game_page .game_info .status .buy a.buy_button {
        font: normal 16px Roboto;
    }
    .game_page .game_info .status .buy div.soon{
        font: normal 16px Roboto;
    }
    .game_page .game_description_tabs ul {
        padding: 8px 30px 0 30px;
    }

    .game_page .game_description_left {
        padding: 15px 15px 15px 30px;
    }
    .game_page .game_description_right {
        padding: 15px 30px 15px 15px;
        width: 180px;
    }
    .game_page .game_img {
        flex-basis: 330px;
    }
    .game_page .game_detail_info div {
        font: normal 11px Roboto;
    }
    .game_page .game_detail_info div span:first-child {
        width: 70px;
    }
}
@media screen and (min-width: 450px) and (max-width: 680px){
    .game_page h1 {
        font: bold 22px Roboto;
        text-align: center;
    }
    .game_page .game_head {
        display: block;
        padding: 30px;
    }
    .game_page .game_detail_info {
        padding: 0 0 0 0;
        max-width: 370px;
        margin: 0 auto;
    }
    .game_page .game_info .status .percent {
        font: bold 16px Roboto;
        height: 40px;
        width: 70%;
    }
    .game_page .game_info .status .buy {
        border-radius: 5px;
        height: 40px;
        width: 85%;
    }
    .game_page .game_info .status {
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 0 0 0 0;
        max-width: 300px;
        margin: 0 auto;
    }
    .game_page .game_info {
        padding: 0 0 0 0;
        max-width: 460px;
        margin: 0 auto;
    }
    .game_page .game_info .status .buy .coast {
        font: bold 18px Roboto;
    }
    .game_page .game_info .status .buy a.buy_button {
        font: normal 16px Roboto;
    }
    .game_page .game_info .status .buy div.soon{
        font: normal 16px Roboto;
    }
    .game_page .game_description_tabs ul {
        padding: 8px 30px 0 30px;
        justify-content: center;
    }
    .game_page .game_description_columns{
        display: block;
    }
    .game_page .game_description_left {
        padding: 15px 30px 15px 30px;
        box-sizing: border-box;
    }
    .game_page .game_description_right {
        padding: 15px 30px 15px 30px;
        box-sizing: border-box;
        width: 100%;
    }
    .game_page .game_img {
        max-width: 460px;
        flex-basis: 330px;
        margin: 0 auto 30px auto;
        border: solid 3px #333;
    }
    .game_page .game_detail_info div {
        font: normal 13px Roboto;
    }
    .game_page .game_detail_info div span:first-child {
        width: 100px;
    }
    .game_page .media_block .media_element {
        width: calc(33.3% - 2px);
    }
}
@media screen and (max-width: 450px){
        .game_page h1 {
        font: bold 22px Roboto;
        text-align: center;
    }
    .game_page .game_head {
        display: block;
        padding: 20px;
    }
    .game_page .game_detail_info {
        padding: 0 0 0 0;
        max-width: 370px;
        margin: 0 auto;
    }
    .game_page .game_info .status .percent {
        font: bold 16px Roboto;
        height: 40px;
        width: 70%;
    }
    .game_page .game_info .status .buy {
        border-radius: 5px;
        height: 40px;
        width: 85%;
    }
    .game_page .game_info .status {
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 0 0 0 0;
        max-width: 300px;
        margin: 0 auto;
    }
    .game_page .game_info {
        padding: 0 0 0 0;
        max-width: 460px;
        margin: 0 auto;
    }
    .game_page .game_info .status .buy .coast {
        font: bold 18px Roboto;
    }
    .game_page .game_info .status .buy a.buy_button {
        font: normal 16px Roboto;
    }
    .game_page .game_info .status .buy div.soon{
        font: normal 16px Roboto;
    }
    .game_page .game_description_tabs ul {
        padding: 8px 20px 8px 20px;
        justify-content: center;
    }
    .game_page .game_description_tabs ul li {
        margin: 0 3px 3px 0;
        border-radius: 5px;
        padding: 6px 10px;
        font: normal 12px Roboto;
    }
    .game_page .game_description_columns{
        display: block;
    }
    .game_page .game_description_left {
        padding: 15px 20px 15px 20px;
        box-sizing: border-box;
    }
    .game_page .game_description_right {
        padding: 15px 20px 15px 20px;
        box-sizing: border-box;
        width: 100%;
    }
    .game_page .game_img {
        max-width: 460px;
        flex-basis: 330px;
        margin: 0 auto 10px auto;
        border: solid 3px #333;
    }
    .game_page .game_detail_info div {
        font: normal 11px Roboto;
    }
    .game_page .game_detail_info div span:first-child {
        width: 70px;
    }
    .game_page .media_block .media_element {
        width: calc(33.3% - 2px);
    }
}

/*Адаптация списка игр*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .game_list .game .game_img {
        flex-basis: 150px;
    }
}
@media screen and (min-width: 980px) and (max-width: 1150px){
    .game_list .game .game_img {
        flex-basis: 150px;
    }
}
@media screen and (min-width: 700px) and (max-width: 980px){
    .game_list .game .game_img {
        flex-basis: 160px;
    }
    .head_game_list .filter_button {
        display: flex;
        width: 55px;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px){
    .game_list .game .game_img {
        flex-basis: 140px;
    }
    .game_list .percent {
        display: none;
    }
    .game_list .name {
        font: normal 14px Roboto;
    }
    .game_list .nonal {
        font: normal 10px Roboto;
    }
    .game_list .game .game_info .status {
        flex-basis: 90px;
    }
    .head_game_list .filter_button {
        display: flex;
        width: 55px;
    }
}
@media screen and (min-width: 350px) and (max-width: 500px){
    .game_list .game .game_img {
        flex-basis: 100px;
    }
    .game_list .percent {
        display: none;
    }
    .game_list .name {
        font: normal 12px Roboto;
        margin: 0 0 2px 0;
    }
    .game_list .nonal {
        font: normal 10px Roboto;
    }
    .game_list .soon {
        font: normal 12px Roboto;
    }
    .game_list .price {
        font: normal 12px Roboto;
    }
    .game_list .game .game_info .status {
        flex-basis: 80px;
        padding: 0 5px 0 0;
    }
    .game_list .store_info{
        display: none;
    }
    .game_list .game .game_info .product {
        padding: 0 7px;
    }
    .head_game_list .filter_button {
        display: flex;
        width: 35px;
    }
}
@media screen and (max-width: 350px){
    .game_list .game .game_img {
        display: none;
    }
    .game_list .percent {
        display: none;
    }
    .game_list .name {
        font: normal 12px Roboto;
        margin: 0 0 2px 0;
    }
    .game_list .nonal {
        font: normal 10px Roboto;
    }
    .game_list .soon {
        font: normal 12px Roboto;
    }
    .game_list .price {
        font: normal 12px Roboto;
    }
    .game_list .game .game_info .status {
        flex-basis: 80px;
        padding: 0 0 0 0;
    }
    .game_list .store_info{
        display: none;
    }
    .game_list .game .game_info .product {
        padding: 0 7px;
    }
    .head_game_list .filter_button {
        display: flex;
        width: 35px;
    }
}
/*Адаптация фильтра каталога*/
@media screen and (min-width: 450px) and (max-width: 980px){
    .filter_block{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
        padding: 0;
        margin: 0;
        overflow: scroll;
    }
    .filter {
        max-width: 400px;
        margin: 0 auto;
        padding: 15px;
    }

    .block h3 {
        border-bottom: none;
        margin: 0 0 0 0;
        width: 100%;
        text-align: center;
        font: normal 20px Roboto;
        color: #fff;
        padding: 0 0 15px 0;
        text-transform: none;
    }
}
@media screen and (max-width: 450px){
    .filter_block{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000f2;
        padding: 0;
        margin: 0;
        overflow: scroll;
    }
    .filter {
        max-width: 400px;
        margin: 0 auto;
        padding: 15px;
    }

    .block h3 {
        border-bottom: none;
        margin: 0 0 0 0;
        width: 100%;
        text-align: center;
        font: normal 16px Roboto;
        color: #fff;
        padding: 0 0 15px 0;
        text-transform: none;
    }
}

/*Адаптация pager*/
@media screen and (max-width: 500px){
    .pager {
        font: normal 20px Roboto;
    }
    .pager ul li {
        display: none;
    }
    .pager ul li.prev, .pager ul li.next {
        display: block;
    }
}

/*Адаптация slide*/

@media screen and (min-width: 400px) and (max-width: 500px){
    .slide .slide_info{
        display: block;
    }
    .slide .slide_info .slide_name{
        text-align: center;
        box-sizing: border-box;
    }
    .slide .slide_info .slide_coast{
        max-width: 100px;
        padding: 3px 8px;
        margin: 0 auto;
        font: normal 14px Roboto;
    }
    .slide_soon{
        max-width: 100px;
        padding: 3px 8px;
        margin: 0 auto;
        font: normal 14px Roboto;
    }
}
@media screen and (max-width: 400px){
    .slide .slide_info{
        display: block;
    }
    .slide .slide_info .slide_name{
        text-align: center;
        box-sizing: border-box;
    }
    .slide .slide_info .slide_coast{
        max-width: 100px;
        padding: 3px 8px;
        margin: 0 auto;
        font: normal 13px Roboto;
    }
    .slide_soon{
        max-width: 100px;
        padding: 3px 8px;
        margin: 0 auto;
        font: normal 13px Roboto;
    }
    .slide-prev{
        top: 40px;
        left: 0;
    }
    .slide-next{
        top: 40px;
        right: 0;
    }
}

/*Адаптация страницы выбора оплаты*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .payment_head h1 {
        font: bold 19px Roboto;
    }
    .payment_info_order {
        width: 250px;
    }
    .payment {
        padding: 15px;
    }
    .payment .payment_ic {
        width: 55%;
    }
    .payment_cont_head {
        font: bold 14px Roboto;
    }
}
@media screen and (min-width: 980px) and (max-width: 1150px){
    .payment_head h1 {
        font: bold 19px Roboto;
    }
    .payment_info_order {
        width: 250px;
    }
    .payment_box {
        width: calc(25% - 2px);
    }
    .payment {
        padding: 15px;
    }
    .payment .payment_ic {
        width: 55%;
    }
    .payment_cont_head {
        font: bold 14px Roboto;
    }
}
@media screen and (min-width: 700px) and (max-width: 980px){
    .payment_content {
        padding: 20px;
    }
    .payment_head h1 {
        font: bold 19px Roboto;
    }
    .payment_info_order {
        width: 250px;
        margin: 0 15px 0 0;
    }
    .payment_box {
        width: calc(33% - 2px);
    }
    .payment {
        padding: 15px;
    }
    .payment .payment_ic {
        width: 55%;
    }
    .payment_cont_head {
        font: bold 14px Roboto;
    }
}
@media screen and (min-width: 560px) and (max-width: 700px){
    .payment_content {
        display: block;
        padding: 20px;
    }
    .payment_head h1 {
        font: bold 19px Roboto;
    }
    .payment_info_order {
        display: none;
    }
    .payment_box {
        width: calc(25% - 2px);
    }
    .payment {
        padding: 15px;
    }
    .payment .payment_ic {
        width: 55%;
    }
    .payment_cont_head {
        font: bold 14px Roboto;
    }
}

@media screen and (min-width: 450px) and (max-width: 560px){
    .payment_content {
        display: block;
        padding: 20px;
    }
    .payment_head h1 {
        font: bold 19px Roboto;
    }
    .payment_info_order {
        display: none;
    }
    .payment_box {
        width: calc(33.3% - 2px);
    }
    .payment {
        padding: 15px;
    }
    .payment .payment_ic {
        width: 55%;
    }
    .payment_cont_head {
        font: bold 14px Roboto;
    }
}
@media screen and (max-width: 450px){
    .payment_content {
        display: block;
        padding: 10px;
    }
    .payment_head h1 {
        font: bold 15px Roboto;
    }
    .payment_info_order {
        display: none;
    }
    .payment_box {
        width: calc(50% - 2px);
    }
    .payment {
        padding: 15px;
    }
    .payment .payment_ic {
        width: 55%;
    }
    .payment_cont_head {
        font: bold 14px Roboto;
        text-align: center;
    }
    .final_coast {
        font: normal 13px Roboto;
        text-align: center;
    }
    .mail_box .mail {
        margin: 0 auto;
    }
    .mail_box .submit_form {
        margin: 0 auto;
    }
    .mail_box .submit_form input {
        font: normal 14px Roboto;
    }
    .mail_box .terms_form {
        font: normal 10px Roboto;
        text-align: center;
    }
    #payment_error div {
        font: normal 11px Roboto;
        text-align: center;
    }
    .payment_select {
        max-width: 300px;
        margin: 0 auto;
    }
}

/*Адаптация отзывов*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .head_review h2 {
        font: bold 18px Roboto;
    }
}
@media screen and (min-width: 980px) and (max-width: 1150px){
    .head_review h2 {
        font: bold 18px Roboto;
    }
    .vk_reviews {
        padding: 10px;
    }
    .oplata_reviews {
        padding: 10px;
    }
}
@media screen and (min-width: 800px) and (max-width: 980px){
    .head_review h2 {
        font: bold 18px Roboto;
    }
    .vk_reviews {
        padding: 7px;
    }
    .oplata_reviews {
        padding: 7px;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .head_review h2 {
        font: bold 16px Roboto;
    }
    .reviews {
        flex-wrap: wrap;
    }
    .vk_reviews {
        width: 100%;
        padding: 0px;
    }
    .oplata_reviews {
        width: 100%;
        padding: 0px;
    }
    .head_review{
        min-height: auto;
    }
    .review {
        display: block;
        padding: 15px;
    }
    .review_head_date{
        display: none;
    }
    .review_head_text{
        padding: 0 15px;
    }
    .review_date{
        padding: 0;
        text-align: left;
    }
    .review_text{
        padding: 0;
    }
}
@media screen and (min-width: 400px) and (max-width: 600px){
    .head_review h2 {
        font: bold 16px Roboto;
    }
    .reviews {
        flex-wrap: wrap;
    }
    .vk_reviews {
        width: 100%;
        padding: 0px;
    }
    .oplata_reviews {
        width: 100%;
        padding: 0px;
    }
    .head_review{
        min-height: auto;
    }
    .review {
        display: block;
        padding: 10px;
    }
    .review_head_date{
        display: none;
    }
    .review_head_text{
        padding: 0 10px;
    }
    .review_date{
        padding: 0;
        text-align: left;
    }
    .review_text{
        padding: 0;
    }
}
@media screen and (min-width: 100px) and (max-width: 400px){
    .head_review h2 {
        font: bold 16px Roboto;
    }
    .reviews {
        flex-wrap: wrap;
    }
    .vk_reviews {
        width: 100%;
        padding: 0px;
    }
    .oplata_reviews {
        width: 100%;
        padding: 0px;
    }
    .head_review{
        min-height: auto;
    }
    .box_reviews{
        padding: 10px;
    }
    .review {
        display: block;
        padding: 10px;
        font: normal 12px/18px Roboto;
    }
    .review_head_date{
        display: none;
    }
    .review_head_text{
        padding: 0 10px;
    }
    .review_date{
        padding: 0;
        text-align: left;
    }
    .review_text{
        padding: 0;
    }
}

/*Адаптация каркаса контента*/

@media screen and (min-width: 980px) and (max-width: 1150px){
    .content_head h1 {
        font: bold 20px Roboto;
        padding: 15px 25px;
    }
}
@media screen and (min-width: 800px) and (max-width: 980px){
    .content_head h1 {
        font: bold 20px Roboto;
        padding: 15px 22px;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .content_head h1 {
        font: bold 20px Roboto;
        padding: 15px;
    }
}
@media screen and (min-width: 400px) and (max-width: 600px){
    .content_head h1 {
        font: bold 20px Roboto;
        padding: 15px;
    }
}
@media screen and (min-width: 200px) and (max-width: 400px){
    .content_head h1 {
        font: bold 20px Roboto;
        padding: 15px;
    }
}