/*Адаптация head*/
@media screen and (min-width: 1150px) and (max-width: 1250px){
    .head{
        width: 1100px;
    }
    .search{
        width: 490px;
    }
}
@media screen and (min-width: 970px) and (max-width: 1150px){
    .head{
        width: 950px;
    }
    .search{
        width: 340px;
    }
}
@media screen and (min-width: 600px) and (max-width: 970px){
    .head{
        width: 100%;
        height: 150px;
    }
    .search{
        width: calc( 100% - 20px);
        top: auto;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
    .book{
        right: 10px;
    }
}
@media screen and (max-width: 600px){
    .head{
        width: 100%;
        min-height: 150px;
        padding: 15px 0 0 0;
    }
    .logo{
        position: static;
        margin: 0 auto 
    }
    .search{
        width: calc( 100% - 20px);
        top: auto;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
    .book{
        display: none;
    }
}
/*Адаптация menu*/
@media screen and (min-width: 1150px) and (max-width: 1250px){
    .top-navigation{
        width: 1100px;
    }
}
@media screen and (min-width: 970px) and (max-width: 1150px){
    .top-navigation{
        width: 950px;
    }
}
@media screen and (max-width: 970px){
    .top-navigation{
        width: 100%;
    }
    .top-navigation-container{
        display: none;
        padding: 15px;
    }
    .menu{
        display: block;
    }
    .menu ul{
        height: auto;
        display: block;
    }
    .menu ul li{
        display: block;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 1px;
        box-sizing: border-box;
        border: none;
    }
    .menu ul li:nth-last-child(2) {
        border: none;
    }
    .menu ul li a{
        text-align: center;
        background: #FFF;
    }
    .lucky-button{
        margin: 15px auto;
        position: static;
    }

    .open-menu{
        display: block;
    }
}




/*Адаптация wrapper left, right, center*/
@media screen and (min-width: 1150px) and (max-width: 1250px){
    .wrapper{
        width: 1100px;
    }
    .left, .right{
        width: 200px;
    }
    .ganre-menu ul li a, .last-pay ul li a{
        font: normal 14px ptSans;
    }
    .ganre-menu h3,.last-pay h3 {
        font: normal 15px ptSans;
    }
}

@media screen and (min-width: 970px) and (max-width: 1150px){
    .wrapper{
        width: 950px;
    }
    .left, .right{
        width: 200px;
    }
    .center{
        width: 550px;
    }
    .ganre-menu ul li a, .last-pay ul li a{
        font: normal 14px ptSans;
    }
    .ganre-menu h3,.last-pay h3 {
        font: normal 15px ptSans;
    }
}
@media screen and (min-width: 700px) and (max-width: 970px){
    .wrapper{
        width: 100%;
    }
    .right{
        display: none;
    }
    .left{
        width: 200px;
        float: left;
    }
    .center{
        float: left;
        width: calc(100% - 200px); 
    }
}
@media screen and (min-width: 520px) and (max-width: 700px){
    .wrapper{
        width: 100%;
    }
    .right{
        display: none;
    }
    .left{
        display: none;
    }
    .center{
        float: none;
        width: 100%; 
    }
}
@media screen and (min-width: 330px) and (max-width: 520px){
    .wrapper{
        width: 100%;
    }
    .right{
        display: none;
    }
    .left{
        display: none;
    }
    .center{
        float: none;
        width: 100%; 
    }
}


@media screen and (max-width: 330px){
    .wrapper{
        width: 100%;
    }
    .right{
        display: none;
    }
    .left{
        display: none;
    }
    .center{
        float: none;
        width: 100%; 
    }
}









/*Карточка игры*/
@media screen and (min-width: 1150px) and (max-width: 1250px){
    .big-center{
        float: left;
        width: 900px;
    }
    .percent{
        font: bold 18px Roboto;
        padding: 15px 0 0 0;
    }
}
@media screen and (min-width: 970px) and (max-width: 1150px){
    .big-center{
        float: left;
        width: 750px;
    }
    .game-object-head-foto{
        width: 400px;
    }
    .game-object-head-detail{
        margin: 0 0 0 400px;
        padding: 0 0 60px 0;
        min-height: 186px;
    }
    .buy{
        width: 180px;
        height: 35px;
    }
    .coast{
        height: 35px;
        font: normal 16px Roboto;
    }
    a.buy-button{
        height: 35px;
        font: normal 16px Roboto;
        padding: 8px 0 0 0;
    }
    .percent{
        margin-right: 180px;
        font: bold 16px Roboto;
    }
    .game-mini-detail{
        font: normal 13px/19px Roboto;
    }
    .game-description{
        font: normal 13px/21px Roboto;
    }
    .nonal{
        width: 90px;
        height: 50px;
        font: bold 13px Roboto;
        padding: 10px 0 0 0;
    }
}
@media screen and (min-width: 880px) and (max-width: 970px){
    .big-center{
        float: left;
        width: calc(100% - 200px);
    }
    .game-object-head-foto{
        width: 400px;
    }
    .game-object-head-detail{
        margin: 0 0 0 400px;
        padding: 0 0 60px 0;
        min-height: 186px;
    }
    .buy{
        width: 180px;
        height: 35px;
        float: none;
    }
    .coast{
        height: 35px;
        font: normal 16px Roboto;
    }
    a.buy-button{
        height: 35px;
        font: normal 16px Roboto;
        padding: 8px 0 0 0;
    }
    .percent{
        margin-right: 180px;
        font: bold 16px Roboto;
        display: none;
    }
    .game-mini-detail{
        font: normal 13px/19px Roboto;
    }
    .game-description{
        font: normal 13px/21px Roboto;
    }
    .game-description-left{
        padding: 0 0 0 0;
        width: 100%;
        float: none;
    }
    .game-description-right{
        width: 100%;
        float: none;
    }
    .gallery-item{
        width: calc(25% - 2px);
    }
    .nonal{
        width: 90px;
        height: 50px;
        font: bold 13px Roboto;
        padding: 10px 0 0 0;
    }
}
@media screen and (min-width: 700px) and (max-width: 880px){
    .big-center{
        float: left;
        width: calc(100% - 200px);
    }
    .game-object-head-foto{
        padding: 15px;
        float: none;
        max-width: 460px;
        width: auto;
        margin: 0 auto;
    }
    .game-mini-detail{
        padding: 15px;
        text-align: center;
    }
    .game-object-head-foto img{
        border: solid 3px #eee;
        box-sizing: border-box;
    }
    .game-object-head-detail{
        margin: 0;
        padding: 0 0 0 0;
    }
    .price-buy{
        max-width: 460px;
        width: auto;
        padding: 0 15px 15px 15px;
    }
    .game-object h1{
        font: bold 18px Roboto;
    }
    .game-description{
        font: normal 13px/21px Roboto;
    }
    .game-description-left{
        padding: 0 0 0 0;
        width: 100%;
        float: none;
    }
    .game-description-right{
        width: 100%;
        float: none;
    }
    .gallery-item{
        width: calc(33.3% - 2px);
    }
    .buy{
        margin: 0 auto; 
        float: none;
    }
    .percent{
        margin: 0;
        text-align: center;
    }
    .price-buy{
        position: static;
        max-width: 460px;
        width: auto;
        padding: 0 15px 15px 15px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px){
    .big-center{
        width: 100%;
        float: none;
    }
    .game-object-head-foto{
        padding: 15px;
        float: none;
        max-width: 460px;
        width: auto;
        margin: 0 auto; 
    }
    .game-object-head-foto img{
        border: solid 3px #eee;
        box-sizing: border-box;
    }
    .game-mini-detail{
        padding: 15px;
        text-align: center;
    }
    .game-object-head-detail{
        margin: 0;
        padding: 0 0 15px 0;
    }
    .price-buy{
        position: static;
        max-width: 460px;
        width: auto;
        padding: 0 15px 15px 15px;
        margin: 0 auto;
    }
    .game-object h1{
        font: bold 18px Roboto;
    }
    .game-description{
        font: normal 13px/21px Roboto;
    }
    .percent{
        margin: 0;
        text-align: center;
    }
    .buy{
        margin: 0 auto; 
        float: none;
    }
    .gallery-item{
        width: calc( 50% - 2px );
    }
    .game-description-left{
        padding: 0 0 0 0;
        width: 100%;
        float: none;
    }
    .game-description-right{
        width: 100%;
        float: none;
    }
    .gallery-item{
        width: 49%;
    }
}
















/*Подвал сайта*/
@media screen and (max-width: 700px){
    .footer-col, .footer-logo{
        float: none;
    }
}
/*Оформление заказа игры*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
    .game-order-title{
        font: bold 20px Roboto;
    }
}
@media screen and (min-width: 970px) and (max-width: 1150px){
    .game-order-title{
        font: bold 20px Roboto;
    }
}
@media screen and (min-width: 820px) and (max-width: 970px){
    .game-order-title{
        font: bold 20px Roboto;
    }
    .pay-block{
        width: 33.3%;
    }
    .game-order-image{
        width: 200px; 
    }
    .game-order-info {
        margin: 0 0 0 200px;
        padding: 25px 10px;
        min-height: auto;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 570px) and (max-width: 820px){
    .game-order-title{
        font: bold 20px Roboto;
    }
    .pay-block{
        width: 100%;
        padding: 0 0 10px 0;
    }
    .game-order-image{
        width: 200px; 
    }
    .game-order-info {
        margin: 0 0 0 200px;
        padding: 25px 10px;
        min-height: auto;
        box-sizing: border-box;
    }
    .pay-icon{
        width: 50px;
        float: left;
    }
    .pay-info{
        margin: 0 0 0 50px;
        padding: 5px 0 0 25px;
        text-align: left;
    }
    .pay-box{
        padding: 15px;
        border-top: none;
        height: auto;
    }

    .order-mail-mail{
        width: 75%;
        float: none;
        margin: 0 auto 15px auto;
        padding: 0;
    }
    .order-mail-submit{
        width: 45%;
        float: none;
        margin: 0 auto;
    }
    



}
@media screen and (min-width: 200px) and (max-width: 570px){
    .game-order-title{
        font: bold 16px Roboto;
    }
    .game-order-title span {
        font: bold 16px Roboto;
        display: block;
        color: #ff6000;
    }
    .pay-block{
        width: 100%;
        padding: 0 0 10px 0;
    }
    .game-order-image{
        display: none;
    }
    .game-order-info {
        margin: 0 0 0 0;
        padding: 25px;
        min-height: auto;
        box-sizing: border-box;
    }
    .pay-icon{
        width: 50px;
        float: left;
    }
    .pay-info{
        margin: 0 0 0 50px;
        padding: 5px 0 0 25px;
        text-align: left;
    }
    .pay-box{
        padding: 15px;
        border-top: none;
        height: auto;
    }
    .order-text {
        font: normal 13px/18px Roboto;
    }

    .order-mail-mail{
        width: 100%;
        float: none;
        margin: 0 auto 15px auto;
        padding: 0;
    }
    .order-mail-submit{
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .order-mail-submit input{
        font: bold 15px Roboto;
    }
    .order-mail-text{
        font: normal 13px/19px Roboto;
    }
}


/*Адаптация удачи*/
@media screen and (min-width: 850px) and (max-width: 1050px){
    .lucky-box{
        text-align: center;
        float: left;
        width: calc(33.3% - 24px);
        margin: 0 10px;
    }
    .cristal{
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .silver .cristal{
        background: url(../images/cristal.png) -100px 0 no-repeat;
    }
    .gold .cristal{
        background: url(../images/cristal.png) -100px -100px no-repeat;
    }
    .vip .cristal{
        background: url(../images/cristal.png) -100px -200px no-repeat;
    }
}
@media screen and (min-width: 300px) and (max-width: 850px){
    .lucky-box{
        float: none;
        width: 100%;
        margin: 10px 0;
    }
    .cristal{
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .silver .cristal{
        background: url(../images/cristal.png) -100px 0 no-repeat;
    }
    .gold .cristal{
        background: url(../images/cristal.png) -100px -100px no-repeat;
    }
    .vip .cristal{
        background: url(../images/cristal.png) -100px -200px no-repeat;
    }
}



/*Адаптация слайда*/

@media screen and (min-width: 1150px) and (max-width: 1250px){
    .slide-title {
        font: bold 18px ptSans;
        margin: 0 0 12px 0;
    }
    .slide-text {
        font: normal 13px ptSans;
    }
    .slide-coast {
        font: bold 18px Roboto;
    }
    .slide-percent {
        font: bold 18px Roboto;
    }

}
@media screen and (min-width: 970px) and (max-width: 1150px){
    .slide-info {
        padding: 10px 10px 65px 10px;
    }
    .slide-title {
        font: bold 18px ptSans;
        margin: 0 0 12px 0;
    }
    .slide-text {
        font: normal 13px ptSans;
    }
    .slide-coast {
        font: bold 18px Roboto;
    }
    .slide-percent {
        font: bold 18px Roboto;
    }

}
@media screen and (min-width: 700px) and (max-width: 970px){
    .slide {
        display: block;
    }
    .slide-foto{
        width: 100%;
        border: solid 3px #333;
    }
    .slide-foto a{
        display: block;
        width: 600px;
        margin: 25px auto;
    }
    .slide-info {
        width: 100%;
        padding: 20px 20px 65px 20px;
    }
    .slide-title {
        font: bold 18px ptSans;
        margin: 0 0 12px 0;
    }
    .slide-text {
        font: normal 13px ptSans;
    }
    .slide-coast {
        font: bold 18px Roboto;
    }
    .slide-percent {
        font: bold 18px Roboto;
    }
}
@media screen and (min-width: 200px) and (max-width: 700px){
    .slide {
        display: block;
    }
    .slide-foto{
        width: 100%;
        margin: 0;
        border: none;
    }
    .slide-info {
        width: 100%;
        padding: 20px 20px 75px 20px;
    }
    .slide-title {
        font: bold 18px ptSans;
        margin: 0 0 12px 0;
    }
    .slide-text {
        font: normal 13px ptSans;
    }
    .slide-coast {
        font: bold 18px Roboto;
    }
    .slide-percent {
        font: bold 18px Roboto;
    }
    .slide-price {
        right: auto;
        left: 20px;
    }
}













/*Адаптация кнопки another-button*/
@media screen and (max-width: 850px){
    .garant{
        width: 100%;
        box-sizing: border-box;
        padding: 15px 25px;
        font: normal 15px Roboto;
    }
}
@media screen and (max-width: 550px){
    .another-button a{
        width: 70%;
    }
}
/*Адаптация отзывы*/
@media screen and (max-width: 850px){
    .review-date{
        font: normal 14px ptSans;
    }
    .review-text{
        font: normal 14px ptSans;
        padding: 8px 10px;
    }
}
/*Адаптация специального блока под описанием товара*/
@media screen and (max-width: 550px){
    .special-game{
        display: block;
        max-width: 460px;
        margin: 0 0 10px 0;
    }
    .special-game-foto{
        width: 100%;
    }
    .special-game-info{
        display: block;
    }
    .special-game-info .title{
        text-align: center;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        font: bold 14px Roboto;
    }
    .special-game-info .price{
        width: 100px;
        font: normal 14px Roboto;
        text-align: center;
        margin: 0 auto;
        background: #46ac2c;
        padding: 5px 0;
        color: #FFF;
    }
    .special-game:nth-child(2n-1){
        background: none;
    }
    .special-game:hover{
        background: none;
    }
    .special-game .skidka{
        display: none;
    }
    .special-games h2{
        text-align: center;
    }
}
/*Кнопка весь каталог игр*/
@media screen and (max-width: 600px){
    .more-games a{
        width: 85%;
    }
}




/*Адаптация списка игр*/
@media screen and (min-width: 1150px) and (max-width: 1250px){
    .game-img {
        flex-basis: 200px;
    }
    .game-name {
        font: bold 16px Roboto;
    }
    .game-key{
        font: normal 13px ptSans;
    }
    .game-info-price {
        font: bold 16px Roboto;
        padding: 5px 0;
    }
}
@media screen and (min-width: 970px) and (max-width: 1150px){
    .game-img {
        flex-basis: 150px;
    }
    .game-name {
        font: bold 14px Roboto;
    }
    .game-key{
        font: normal 13px ptSans;
    }
    .game-info-price {
        font: bold 16px Roboto;
        padding: 5px 0;
    }
    .game-info-coast {
        flex-basis: 90px;
    }
}
@media screen and (min-width: 600px) and (max-width: 970px){
    .game-img {
        flex-basis: 200px;
    }
    .game-name {
        font: normal 14px Roboto;
    }
    .game-key{
        font: normal 13px ptSans;
    }
    .game-info-price {
        font: normal 16px Roboto;
        padding: 5px 0;
    }
    .game-info-coast {
        flex-basis: 90px;
    }
    .slide-coast {
        background: #71cb4a;
    }
}
@media screen and (min-width: 380px) and (max-width: 600px){
    .game-img {
        flex-basis: 140px;
    }
    .game-name {
        font: normal 12px Roboto;
    }
    .game-key{
        display: none;
        font: normal 13px ptSans;
    }
    .game-info-price {
        font: normal 14px Roboto;
        padding: 5px 0;
    }
    .game-info-price span {
        font: normal 10px Roboto;
    }
    .game-info-coast {
        flex-basis: 80px;
        padding: 0 8px 0 0;
    }
    .slide-coast {
        background: #71cb4a;
    }
}
@media screen and (min-width: 150px) and (max-width: 380px){
    .game-img {
        flex-basis: 90px;
    }
    .game-name {
        font: normal 12px Roboto;
    }
    .game-key{
        display: none;
        font: normal 13px ptSans;
    }
    .game-info-price {
        font: normal 13px Roboto;
        padding: 5px 0;
    }
    .game-info-price span {
        font: normal 10px Roboto;
    }
    .game-info-coast {
        flex-basis: 80px;
        padding: 0 8px 0 0;
    }
    .slide-coast {
        background: #71cb4a;
    }
}

/*Адаптация боксов испытай удачу*/
@media screen and (min-width: 970px) and (max-width: 1250px){
    .key-box-text {
        font: bold 14px Roboto;
    }
    .key-box-coast {
        font: bold 25px Roboto;
    }
    .key-box-button a {
        padding: 6px;
        font: bold 14px Roboto;
    }
}
@media screen and (min-width: 700px) and (max-width: 970px){
    .key-box-text {
        font: bold 14px Roboto;
    }
    .key-box-coast {
        font: bold 25px Roboto;
    }
    .key-box-button a {
        padding: 6px;
        font: bold 14px Roboto;
    }
}
@media screen and (min-width: 480px) and (max-width: 560px){
    .key-box-text {
        font: bold 14px Roboto;
    }
    .key-box-coast {
        font: bold 25px Roboto;
    }
    .key-box-button a {
        padding: 6px;
        font: bold 14px Roboto;
    }
}
@media screen and (min-width: 200px) and (max-width: 480px){
    .key-boxs{
        flex-wrap: wrap;
    }
    .key-box{
        border-radius: 10px;
        width: 100%;
        margin: 5px;
        background: #314453 url(../images/strelki.png) top center no-repeat;
        text-align: center;
        padding: 25px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .key-box-text {
        width: 50%;
        font: normal 14px Roboto;
    }
    .key-box-coast {
        font: bold 25px Roboto;
        padding: 4px 0 0 0;
    }
    .key-box-coast span{
        font: normal 17px Roboto;
    }
    .key-box-button {
        width: 50%;
    }
    .key-box-button a {
        padding: 6px;
        font: bold 16px Roboto;
    }
    .key-box {
        padding: 15px 0;
    }
}