{% extends "columns_2.html" %}

{% load static pipeline %}

{% block title %}Как активировать покупку{% endblock title %}

{% block keywords %}активация, инструкции, steamcool{% endblock keywords %}

{% block description %}Как активировать покупку из интерент-магазина steamcool.ru{% endblock description %}

{% block ogtitle %}Как активировать покупку{% endblock ogtitle %}

{% block ogdescription %}Как активировать покупку из интерент-магазина steamcool.ru{% endblock ogdescription %}

{% block view_element %}
    <div class="activation-page">
        <h1>Как активировать покупку</h1>
        <div class="activation-page-content">
                            <strong>Как активировать STEAM GIFT</strong>
                            <ol>
                                <li>Если у Вас нет аккаунта Steam, вам необходимо создать его;</li>
                                <li>Перейдите по купленной ключ-ссылке;</li>
                                <li>Перейдя по ссылке, вы попадете на сайт Steam, где Вам будет предложено авторизоваться;</li>
                                <li>Авторизуйтесь, используя ваш логин и пароль;</li>
                                <li>Выберите активацию игры в библиотеки;</li>
                                <li>После этого игра отобразится в разделе «Библиотека», и вы сможете <strong>скачать {{ game.title }}</strong> из своей библиотеки;</li>
                                <li>Приятной игры.</li>
                            </ol>
                            <strong>Как активировать STEAM KEY</strong>
                            <ol>
                                <li>Если у Вас нет аккаунта Steam, вам необходимо создать его;</li>
                                <li>Скачайте и установите себе Steam;</li>
                                <li>Запустите Steam и авторизуйтесь, используя ваш логин и пароль;</li>
                                <li>В Steam воспользуйтесь меню "Игры - Активировать через Steam";</li>
                                <li>В открывшемся окне введите лицензионный ключ к игре;</li>
                                <li>После этого игра отобразится в разделе «Библиотека», и вы сможете <strong>скачать {{ game.title }}</strong> из своей библиотеки;</li>
                                <li>Приятной игры.</li>
                            </ol>
                            <strong>Как активировать ORIGIN KEY</strong>
                            <ol>
                                <li>Если не установлен Origin клиент, скачайте и установите его;</li>
                                <li>Войдите в свой аккаунт Origin или зарегистрируйте новый, если у вас его еще нет;</li>
                                <li>Воспользуйтесь функцией «Активировать код продукта»;</li>
                                <li>Введите ключ активации;</li>
                                <li>После этого игра отобразится в разделе "Мои игры", и вы сможете <strong>скачать {{ game.title }}</strong>;</li>
                                <li>Приятной игры.</li>
                            </ol>
                            <strong>Как активировать UPLAY KEY</strong>
                            <ol>
                                <li>Если у Вас не установлен Uplay клиент, скачайте и установите его;</li>
                                <li>Войдите в свой аккаунт Uplay или зарегистрируйте новый, если у вас его еще нет;</li>
                                <li>Нажмите на изображение «Шестерёнки» и выберите «Активировать продукт»;</li>
                                <li>Введите ключ активации;</li>
                                <li>После этого игра отобразится в библиотеке игр, и вы сможете <strong>скачать {{ game.title }}</strong>;</li>
                                <li>Приятной игры.</li>
                            </ol>
                            <strong>Как активировать ROCKSTAR SOCIAL CLUB KEY</strong>
                            <ol>
                                <li>Если у Вас нет аккаунта <a href="https://ru.socialclub.rockstargames.com/profile/signin">Social Club</a>, вам необходимо создать его;</li>
                                <li>Перейдите по <a href="https://ru.socialclub.rockstargames.com/games/activate/index-signin">ссылке</a> и нажмите на кнопку "Использовать код активации Rockstar";</li>
                                <li>После того как вы активируете ключ, вместо кнопки "Приобрести" будет доступно "Зугрузить для Windows". <strong>Скачатей игру {{ game.title }}</strong> на PC и запустите setup.exe.</li>
                                <li>После окончании установки вы сможете играть.</li>
                            </ol>



        </div>
    </div>
{% endblock %}