{% extends "columns_3.html" %}

{% load static pipeline %}

{% block title %}Поддержка клиентов{% endblock title %}

{% block keywords %}поддержка клиентов, steamcool{% endblock keywords %}

{% block description %}Поддержка клиентов в интерент-магазине steamcool.ru{% endblock description %}

{% block ogtitle %}Поддержка клиентов{% endblock ogtitle %}

{% block ogdescription %}Поддержка клиентов в интерент-магазине steamcool.ru{% endblock ogdescription %}

{% block center_column %}
    <div class="content_head">
        <h1>Поддержка</h1>
    </div>
    <div class="content">
      Страница находится в разработке
    </div>
{% endblock center_column %}