{% extends "columns_2.html" %}

{% load static pipeline %}

{% block title %}Способы оплаты{% endblock title %}

{% block keywords %}способы оплаты, steamcool{% endblock keywords %}

{% block description %}Способы оплаты в интерент-магазине steamcool.ru{% endblock description %}

{% block ogtitle %}Способы оплаты{% endblock ogtitle %}

{% block ogdescription %}Способы оплаты в интерент-магазине steamcool.ru{% endblock ogdescription %}

{% block view_element %}
    <div class="text">
        <h1>Способы оплаты</h1>
        Страница находится в разработке
    </div>
{% endblock %}