{% extends "columns_2.html" %}

{% load static pipeline %}

{% block title %}Гарантии качества магазина{% endblock title %}

{% block keywords %}гарантии, steamcool{% endblock keywords %}

{% block description %}Гарантии интерент-магазина steamcool.ru{% endblock description %}

{% block ogtitle %}Гарантии магазина{% endblock ogtitle %}

{% block ogdescription %}Гарантии интерент-магазина steamcool.ru{% endblock ogdescription %}

{% block view_element %}
    <div class="text">
        <h1>Гарантии качества магазина</h1>
        <div class="garantii clear-block">
            <div class="garantii-box">
                <h3>Только лицензионная продукция</h3>

                <p>Весь ассортимент представленный в магазине закупается официально у таких известных издателей как 1С-Софтклаб, Новый диск, Electronic Arts, Бука, Акелла, Valve. Это дает уверенность в 100% гарантии качества товара. Мы не занимаемся скупкой и перепродажей аккаунтов или ключей.</p>
            </div>
            <div class="garantii-box">
                <h3>Магазин работает с 2013 года</h3>

                <p>Магазин работает с 2013 года и за это время получил множество положительных отзывов и рекомендаций - тем самым мы гарантируем что после совершенной у нас покупки вы в любое время легко сможете связаться с нами в случае если у вас возникнут какие-либо вопросы по купленному товару.</p>
            </div>
            <div class="garantii-box">
                <h3>Только положительные отзывы</h3>

                <p>На сайте представлены отзывы покупателей нашего магазина сформированные через систему Oplata.info - что говорит о том что мы не можем сами отредактировать, добавить или удалить отзыв покупателя, совершившего у нас покупку. Отзывы не удаляются по истечению какого либо срока. Все что было написано покупателем останется в нашем магазине навсегда.</p>
            </div>
            <div class="garantii-box">
                <h3>Идентифицированный счет на Яндексе</h3>

                <p>Получить идентифицированный счет на Яндексе не так-то просто. Чтобы его получить продавец магазина должен предоставить паспортные данные в Яндекс, что так же подчеркивает надежность магазина. Можете смело совершать покупки, никто вас не обманет.</p>
            </div>
            <div class="garantii-box">
                <h3>Персональный аттестат Webmoney</h3>

                <p>Еще один из аттестатов магазина, подтверждающий личность главного продавца магазина. Для его получения необходимо представить паспортные данные продавца, а также оплатить государственную пошлину. Персональный аттестат дает возможность нашим покупателям совершать покупки различными способами оплаты.</p>
            </div>
            <div class="garantii-box">
                <h3>Большой выбор способа оплаты</h3>

                <p>Оплатить товар в нашем магазине можно через различные системы оплаты - Webmoney, Qiwi. Яндкс.Деньги, Банковской картой, Почтой России, Евросеть, через мобильного оператора Билайн, Мегафон, МТС и даже через терминал. Процесс получения доступа к данным платежным системам весьма трудоемкий и также требует идентификации главного продавца.</p>
            </div>
            <div class="garantii-box">
                <h3>Оперативная техническая поддержка</h3>

                <p>Возник вопрос по какому-либо товару? Смело задавайте его в ВК комментариях на странице товара. Наши специалисты в течении 12 часов дадут вам полную информацию по представленному товару и подскажут как купить или активировать тот или иной продукт.</p>
            </div>
            <div class="garantii-box">
                <h3>Почему так дешево?</h3>

                <p>Отвечаем! Мы закупаем товар большими партиями у известных издателей по оптовым ценам что позволяет нам предоставить вам самые низкие цены в интернете. Наши цены самые низкие в интренете. С помощью нашего магазина вы можете сэкономить несколько сотен рублей на одной игре.</p>
            </div>
            <div class="garantii-box">
                <h3>Только реальные покупатели!</h3>

                <p>На каждой странице товара представлены ВК комментарии - что подтверждает что в нашем магазине совершают покупки только реальные люди. Не верите нам?! Спросите у них сами! Мы уверены, они вам ответят и подтвердят надежность нашего магазина.</p>
            </div>
            <div class="garantii-box">
                <h3>Полная кофедициальность</h3>

                <p>Мы профессионалы в своем деле и гарантируем что ваши персональные данные (email, адреса персональных страниц, купленный товар) не попадут в третьи руки. Все продукты предоставленные на сайте - уникальны, и продаются только 1 раз и только в одни руки.</p>
            </div>
        </div>
    </div>
{% endblock %}