{% extends "columns_2.html" %}

{% load static pipeline %}

{% block title %}Поддержка клиентов{% endblock title %}

{% block keywords %}поддержка клиентов, steamcool{% endblock keywords %}

{% block description %}Поддержка клиентов в интерент-магазине steamcool.ru{% endblock description %}

{% block ogtitle %}Поддержка клиентов{% endblock ogtitle %}

{% block ogdescription %}Поддержка клиентов в интерент-магазине steamcool.ru{% endblock ogdescription %}

{% block view_element %}
    <div class="text">
        <h1>Поддержка клиентов</h1>
        Страница находится в разработке
    </div>
{% endblock %}