{% extends "columns_2.html" %}

{% load static pipeline %}

{% block title %}Пользовательское соглашение{% endblock title %}

{% block keywords %}пользовательское соглашение, steamcool{% endblock keywords %}

{% block description %}Пользовательское соглашение для покумателей интерент-магазина steamcool.ru{% endblock description %}

{% block view_element %}
     <div class="text">
          <h1>Пользовательское соглашение</h1>
          <h2>Термины и определения</h2>
          <p>Заказ - запрос Покупателя на получение Товара, оформленный в соответствии с требованиями Сайта.</p>
          <p>Покупатель - физическое лицо, либо оформляющее Заказы на сайте, либо использующее приобретенные на сайте Товары.</p>
          <p>Товар - лицензионный электронный ключ программного продукта.</p>
          <p>Продавец - STEAMCOOL (steamcool.ru)</p>
          <h2>1. Общие положения</h2>
          <p>1.1. Продавец является владельцем Сайта, осуществляющим его администрирование.</p>
          <p>1.2. При оформлении Заказа, Покупатель принимает Условия продажи Товара (далее - Условия), которые в соответствии со ст. 435 и ч. 2 ст. 437 Гражданского Кодекса РФ являются публичной офертой.</p>
          <p>1.3. Отношения между Покупателем и Продавцом регламентируются Законом РФ «О защите прав потребителей» от 07.02.1992 № 2300-1, а также ГК РФ и другими правовыми актами Российской Федерации.</p>
          <p>1.4. Покупатель соглашается с Условиями нажатием кнопки «Перейти к оплате» на последнем этапе оформления Заказа на сайте.</p>
          <p>1.5. Сайт оказывает услуги только на территории РФ и стран СНГ, при этом все Товары имеют региональные ограничения и предназначены для активации на территории РФ, Украины и стран СНГ.</p>
          <h2>2. Порядок оформления Заказа и доставка Товара</h2>
          <p>2.1. При оформлении Заказа Покупатель должен указать электронный адрес, на который будет доставлен Товар.</p>
          <p>2.2. Доставка Товара осуществляется сразу же после оплаты, с помощью сервиса Oplata.Info.</p>
          <p>2.3. Любая информация, представленная на сайте, носит справочный характер. Для уточнения свойств и характеристик Товара, Покупатель должен обратиться к Продавцу.</p>
          <p>2.4. Оформление предзаказа.</p>
          <p>2.4.1. Продавец может предлагать лицензионный электронный ключ еще не поступившего в продажу программного продукта. Такой Товар оформляется как предзаказ.</p>
          <p>2.4.2. На сайте указывается срок поступления в продажу программного продукта. Указанный срок может быть изменен на основании информации, полученной от разработчика данного программного продукта.</p>
          <h2>3. Оплата Товара</h2>
          <p>3.1. Цена Товара указана на сайте и может быть изменена продавцом в одностороннем порядке.</p>
          <p>3.2. Действующая цена указывается на последнем этапе оформления Заказа. После нажатия кнопки «Перейти к оплате», цена не может быть изменена Продавцом.</p>
          <p>3.3. Покупатель может выбрать любой способ оплаты из доступных при оформлении Заказа.</p>
          <p>3.4. Оплата банковскими картами</p>
          <p>3.4.1. Оплата банковской картой может осуществляться только ее владельцем, на основании положения ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 №266-П.</p>
          <p>3.4.2. Банк вправе отказать в осуществлении операции, если у него есть основания классифицировать данную операцию как подпадающую под действие статьи 159 УК РФ - мошенничество.</p>
          <p>3.4.3. Продавец имеет право отменить Заказ без объяснения причины. В этом случае стоимость Товара возвращается на банковскую карту, с которой производилась оплата.</p>
          <h2>4. Возврат и обмен Товара</h2>
          <p>4.1. Товар, приобретенный Покупателем, не подлежит возврату или обмену, в случае если товар был получен.</p>
          <h2>5. Авторское право</h2>
          <p>5.1. Соблюдать авторские права, установленные законодательством РФ и СНГ. Использовать Товар только в личных некоммерческих целях.</p>
          <h2>6. Права и обязанности сторон</h2>
          <p>6.1. Продавец имеет право переуступать и/или передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.</p>
          <p>6.2. Продавец может предоставлять Покупателю скидки и бонусы. Их виды, правила начисления и условия получения указаны на сайте в разделах «Бонус», «Промо-код» и «Скидка».</p>
          <p>6.3. Продавец может менять скидки и бонусы, а также правила их начисления и условия получения в одностороннем порядке.</p>
          <p>6.4. Клиент обязуется использовать приобретенный Товар исключительно для личных, домашних, семейных целей, а также целей, не связанных с осуществлением коммерческой деятельности.</p>
          <p>6.5. Магазин отвечает за работоспособность ключа активации. За технические проблемы игры отвечает издатель или разработчик.</p>
          <h2>7. Прочие условия</h2>
          <p>7.1. При возникновении вопросов, Покупатель имеет право обратиться к Продавцу по любому контакту, указанному на сайте в разделе «Контакты».</p>
          <p>7.2. Все возникающее споры стороны будут стараться решить путем переговоров.</p>
          <p>7.3. Признание судом недействительным какого-либо пункта (подпункта) настоящих Условий не влечет за собой недействительность остальных пунктов (подпунктов).</p>
          <h2>8. Конфиденциальность</h2>
          <p>8.1. Любая персональная информация, полученная Покупателем и Продавцом с помощью Сайта, является конфиденциальной.</p>
          <p>8.2. Стороны обязуются соблюдать законодательство РФ и не разглашать конфиденциальную информацию третьим лицам.</p>
          <p>8.3. Для выполнения своих обязательств по продаже Товара, Продавец собирает следующую информацию о Покупателе:</p>
          <p>- личную информацию, которую Покупатель сознательно предоставил Продавцу;</p>
          <p>- техническую информацию, собираемую программным обеспечением Продавца во время посещения Сайта Покупателем.</p>
          <p>8.4. Пользователь дает Продавцу разрешение на сбор, обработку и хранение своих персональных данных.</p>
          <p>8.5. Указывая свой электронный адрес, покупатель дает согласие на информирование его о специальных пердложениях, акциях, новинках, размещенных на сайте Продавца. Информация рассылается покупателям не чаще одного раза в неделю. Покупатель в праве отписаться от рассылки информационных сообщений, перейдя по специальной ссылке в информационном письме или сообщив об этом Продавцу.</p>
          <p>8.6. Продавец никогда и никому не предоставляет персональную информацию Покупателя, кроме случаев, предусмотренных законодательством РФ.</p>
          <h2>9. Комментарии</h2>
          <p>9.1. Запрещено оскорблять и выражать какое-либо другое неуважение к пользователям сайта и сотрудникам магазина.</p>
          <p>9.2. Запрещено обсуждение цен товаров.</p>
          <p>9.3. Запрещаются ссылки на любые другие магазины.</p>
     </div>
{% endblock %}