{% extends "columns_3.html" %}

{% load static pipeline %}

{% block title %}Как купить игру{% endblock title %}

{% block keywords %}как купить, steamcool{% endblock keywords %}

{% block description %}Как купить игру в интерент-магазине steamcool.ru{% endblock description %}

{% block ogtitle %}Как купить игру{% endblock ogtitle %}

{% block ogdescription %}Как купить игру в интерент-магазине steamcool.ru{% endblock ogdescription %}

{% block center_column %}
    <div class="content_head">
        <h1>Как купить игру?</h1>
    </div>
    <div class="content">
      Страница находится в разработке
    </div>
{% endblock center_column %}