{% extends "columns_3.html" %}

{% load static pipeline %}

{% block title %}Способы оплаты{% endblock title %}

{% block keywords %}способы оплаты, steamcool{% endblock keywords %}

{% block description %}Способы оплаты в интерент-магазине steamcool.ru{% endblock description %}

{% block ogtitle %}Способы оплаты{% endblock ogtitle %}

{% block ogdescription %}Способы оплаты в интерент-магазине steamcool.ru{% endblock ogdescription %}

{% block center_column %}
    <div class="content_head">
        <h1>Способы оплаты</h1>
    </div>
    <div class="content">
      Страница находится в разработке
    </div>
{% endblock center_column %}