{% extends "columns_2.html" %}

{% load static pipeline %}

{% block title %}Гарантии качества магазина{% endblock title %}

{% block keywords %}гарантии, steamcool{% endblock keywords %}

{% block description %}Гарантии интерент-магазина steamcool.ru{% endblock description %}

{% block ogtitle %}Гарантии магазина{% endblock ogtitle %}

{% block ogdescription %}Гарантии интерент-магазина steamcool.ru{% endblock ogdescription %}

{% block view_element %}
    <div class="garants">
        <h1>Гарантии магазина</h1>
        <div class="list-garants">
            <div class="garant">
            <h2>Только лицензионная продукция</h2>
            Весь ассортимент представленный в магазине закупается официально у таких известных издателей как 1С-Софтклаб, Новый диск, Electronic Arts, Бука, Акелла, Valve. Это дает уверенность в 100% гарантии качества товара. Мы не занимаемся скупкой и перепродажей аккаунтов или ключей.
            </div>

            <div class="garant">
            <h2>Магазин работает с 2013 года</h2>
            Магазин работает с 2013 года и за это время получил множество положительных отзывов и рекомендаций - тем самым мы гарантируем что после совершенной у нас покупки вы в любое время легко сможете связаться с нами в случае если у вас возникнут какие-либо вопросы по купленному товару.
            </div>

            <div class="garant">
            <h2>Только положительные отзывы</h2>
            На сайте представлены отзывы покупателей нашего магазина сформированные через систему Oplata.info - что говорит о том что мы не можем сами отредактировать, добавить или удалить отзыв покупателя, совершившего у нас покупку. Отзывы не удаляются по истечению какого либо срока. Все что было написано покупателем останется в нашем магазине навсегда.
            </div>

            <div class="garant">
            <h2>Идентифицированный счет на Яндексе</h2>
            Получить идентифицированный счет на Яндексе не так-то просто. Чтобы его получить продавец магазина должен предоставить паспортные данные в Яндекс, что так же подчеркивает надежность магазина. Можете смело совершать покупки, никто вас не обманет.
            </div>

            <div class="garant">
            <h2>Персональный аттестат Webmoney</h2>
            Еще один из аттестатов магазина, подтверждающий личность главного продавца магазина. Для его получения необходимо представить паспортные данные продавца, а также оплатить государственную пошлину. Персональный аттестат дает возможность нашим покупателям совершать покупки различными способами оплаты.
            </div>

            <div class="garant">
            <h2>Большой выбор способа оплаты</h2>
            Оплатить товар в нашем магазине можно через различные системы оплаты - Webmoney, Qiwi. Яндкс.Деньги, Банковской картой, Почтой России, Евросеть, через мобильного оператора Билайн, Мегафон, МТС и даже через терминал. Процесс получения доступа к данным платежным системам весьма трудоемкий и также требует идентификации главного продавца.
            </div>

            <div class="garant">
            <h2>Оперативная техническая поддержка</h2>
            Возник вопрос по какому-либо товару? Смело задавайте его в ВК комментариях на странице товара. Наши специалисты в течении 12 часов дадут вам полную информацию по представленному товару и подскажут как купить или активировать тот или иной продукт.
            </div>

            <div class="garant">
            <h2>Почему так дешево?</h2>
            Отвечаем! Мы закупаем товар большими партиями у известных издателей по оптовым ценам что позволяет нам предоставить вам самые низкие цены в интернете. Наши цены самые низкие в интренете. С помощью нашего магазина вы можете сэкономить несколько сотен рублей на одной игре.
            </div>

            <div class="garant">
            <h2>Только реальные покупатели!</h2>
            На каждой странице товара представлены ВК комментарии - что подтверждает что в нашем магазине совершают покупки только реальные люди. Не верите нам?! Спросите у них сами! Мы уверены, они вам ответят и подтвердят надежность нашего магазина.
            </div>

            <div class="garant">
            <h2>Полная кофедициальность</h2>
            Мы профессионалы в своем деле и гарантируем что ваши персональные данные (email, адреса персональных страниц, купленный товар) не попадут в третьи руки. Все продукты предоставленные на сайте - уникальны, и продаются только 1 раз и только в одни руки.
            </div>
        </div>


        <div class="another-button">
            <span>Не убедили? Тогда почитайте отзывы ...</span>
            <a href="{% url 'pages:reviews' %}">Отзывы покупателей</a>
        </div>
        
    </div>
{% endblock %}